
.consentContainer {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.consentText {
  margin-right: 0.8rem;
  user-select: none;
  cursor: pointer;
}

.checkbox {
  outline: 4px dotted transparent;
  outline-offset: 3px;
  transition: outline-color 0.3s;
  cursor: pointer;

  &:focus {
    outline-color: var(--secondary);
  }
}

.disclaimerText {
  font-size: 1rem;
  user-select: none;
}

.popup {
  cursor: pointer;
  font-size: 1rem;
  background-color: transparent;
  border-bottom: 5px dotted transparent;
  color: var(--primary-dark);
  outline: none;
  transition: all 0.3s;
  &:focus {
    border-bottom: 5px dotted var(--secondary);
    color: var(--secondary);
  }
}