.modal {
  position: fixed;
  background-color: var(--modal-background);
  border-radius: 1.1rem;
  top: 50%;
  left: 50%;
  height: 45vh;
  width: 65vw;
  transform: translate(-50%, -50%);
  padding: 1.5rem;
  z-index: 1;
}

.X {
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 0;
  height: 2ch;
  width: 2ch;
  font-weight: bolder;
  margin: 0.7rem 0.7rem 0 0;
  padding: 3px;
  border: 2px solid transparent;
  border-radius: 100%;
}

.X:hover {
  border: 2px solid var(--white-text);
}

.modalOverlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

@media (prefers-color-scheme: dark) {
  .modal {
    background-color: var(--darktheme-modal-background);
  }

  .X {
    color: var(--darktheme-white-text);
  }

  .X:hover {
    border-color: var(--darktheme-white-text);
  }
}
