.userAddress {
  width: 8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: transparent;
  outline: none;
  font-size: 1.3rem;
  margin-left: 0.8rem;
  padding: 0.3rem;

  border: 1.5px solid transparent;
  border-radius: 0.5rem;
}

.userAddress:hover,
.userAddress:focus {
  border: 1.5px solid;
}

@media (prefers-color-scheme: dark) {
  .userAddress {
    color: var(--darktheme-text);
  }

  .userAddress:hover,
  .userAddress:focus {
    border-color: var(--darktheme-text);
  }
}
