.pledgeFormLayout {
  height: 100%;
  width: 65vw;
  display: flex;
  flex-direction: column;
}

.pledgeSVG {
  width: 2ch;
  vertical-align: text-bottom;
  font-weight: 600;
  margin-right: 5px;
}

.submitSVG {
  width: 2ch;
  vertical-align: text-bottom;
  font-weight: 600;
}

.pledgeHeading {
  font-size: 1rem;
  margin-bottom: .3rem;
}

.currencyButtons {
  display: flex;
  font-size: 8px;
}
