.pledgeFormLayout {
  height: 100%;
  width: 65vw;
  display: flex;
  flex-direction: column;
}

.pledgeHeading {
  font-size: 1rem;
  margin-bottom: 7px;
}

.currencyButtons {
  display: flex;
  font-size: 10px;
}

.pledgeSVG {
  width: 5.5ch;
  vertical-align: text-bottom;
  font-weight: 600;
  margin-right: 10px;
  overflow: visible;
}

.submitSVG {
  width: 2ch;
  vertical-align: text-bottom;
  font-weight: 600;
}
