.consentContainer {
  display: flex;
  align-items: center;
  font-size: 1rem;
  transition: outline 0.2s;
}

.consentText {
  margin-right: 0.5rem;
}

.checkbox:focus {
  outline: 4px dotted var(--secondary);
  outline-offset: 3px;
}

@media (prefers-color-scheme: dark) {
  .checkbox:focus {
    outline-color: var(--darktheme-secondary);
  }
}
