.consentContainer {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.consentText {
  margin-right: 0.8rem;
}

.checkbox {
  outline: 4px dotted transparent;
  outline-offset: 3px;
  transition: outline-color 0.3s;
}

.checkbox:focus {
  outline-color: var(--secondary);
}

@media (prefers-color-scheme: dark) {
  .checkbox:focus {
    outline-color: var(--darktheme-secondary);
  }
}
