.consentContainer {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.consentText {
  margin-right: 0.8rem;
  user-select: none;
  cursor: pointer;
}

.checkbox {
  outline: 4px dotted transparent;
  outline-offset: 3px;
  transition: outline-color 0.3s;
  cursor: pointer;

  &:focus {
    outline-color: var(--secondary);
  }
}
