.currencyContainer {
  display: flex;
  align-content: center;
  font-size: 2.5rem;
  border-bottom: 5px solid transparent;
  margin-bottom: .2em;
}

.currencyContainer:focus-within {
  border-width: 0 0 5px 0;
  border-style: solid;
  border-image: linear-gradient(to right, var(--darktheme-secondary), transparent 80%) 1;
}

.Ξ {
  margin-right: 0.7rem;
  width: 1ch;
  border-bottom: 2px solid transparent;
}

.currencyField {
  color: var(--text);
  background-color: transparent;
  width: 100%;
  font-size: 2.5rem;
  caret-color: var(--primary);
  outline: none;
}

.currencyField::selection {
  background-color: var(--secondary);
}

@media (prefers-color-scheme: dark) {
  .currencyField {
    color: var(--darktheme-white-text);
    caret-color: var(--darktheme-secondary);
  }

  .currencyField:focus,
  .currencyField:active {
    border-image: linear-gradient(
        to right,
        var(--darktheme-secondary),
        transparent 80%
      )
      1;
  }
}
