@font-face {
  font-family: cute;
  src: url(../../../assets/Cutesy.woff2);
}

@keyframes moveMouth {
  50% {
    transform: translateY(-2.3px);
  }
}

@keyframes moveHead {
  50% {
    transform: translateY(-5px);
  }
}

.talking {
  animation: 0.2s linear 0s infinite alternate none running moveMouth;
}

.floating {
  animation: 4s ease-in-out 1s infinite alternate none running moveHead;
}

/* LOGIN */
.metamessage {
  overflow-y: scroll;
  font-family: cute;
  font-size: 2rem;
  margin: 0 37px 24px 37px;
  text-align: center;
  height: 100px;
}

.metacontainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.metacontainer svg {
  width: 30vw;
}

@media only screen and (width: 280px) {
  .metamessage {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media only screen and (height: 812px) {
  .metamessage {
    margin-top: 6px;
    font-size: 34px;
  }
}

@media only screen and (min-width: 412px) {
  .metamessage {
    font-size: 2.2rem;
    margin-top: 5px;
  }
}

@media only screen and (min-width: 480px) {
  .metamessage {
    height: 80px;
    font-size: clamp(2.2rem, 8vw, 15vw);
  }
}

@media only screen and (min-width: 600px) {
  /* clamp(lower, preferred, upper) */
  .metamessage {
    height: 120px;
  }
}

@media only screen and (min-width: 768px) {
  .metamessage {
    font-size: clamp(2vw, 8vw, 15vw);
    margin-right: 65px;
    margin-left: 65px;
    height: 190px;
  }
}









