.contributeLayout {
  --contribute-layout-height: 60vh;
  --contribute-layout-margin-top: 15vh;
  --contribute-layout-margin-inline: clamp(23px, 9vw, 80px);

  height: var(--contribute-layout-height);
  margin-top: var(--contribute-layout-margin-top);
  margin-inline: var(--contribute-layout-margin-inline);
}

@media (max-width: 1280px) and (orientation: landscape) {
  .contributeLayout {
    --contribute-layout-height: auto;
    --contribute-layout-margin-top: 35vh;
  }
}

@media (min-width: 600px) {
  .contributeLayout {
    --contribute-layout-margin-inline: clamp(3rem, 9vw, 9rem);
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .contributeLayout {
    display: grid;
    grid:
      [Account-row-start] "userBalance userBalance" [Action-row-end]
      [Account-row-start] "userAddress contributorActionBar" [Action-row-end]
      [Balance-row-start] ". pledgeList" [Balance-row-end]
      [Pledge-row-start] ". pledgeList" [Pledge-row-end];

    grid-gap: 10px;

    --contribute-layout-height: 85vh;
    --contribute-layout-margin-top: 15vh;
    --contribute-layout-margin-inline: 0;
  }

  .userBalance {
    grid-area: userBalance;
    align-self: end;
    margin-left: clamp(30px, 4vw, 64px);
    font-size: clamp(24px, 3vw + 16px, 144px);
  }

  .userAddress {
    grid-area: userAddress;
    display: block;
    place-self: center start;
    margin-left: clamp(30px, 4vw, 64px);
    font-size: clamp(0.2rem, 0.4vw + 1rem, 5rem);
  }

  .contributorActionBar {
    grid-area: contributorActionBar;
    place-self: end center;
  }

  .pledgeList {
    grid-area: pledgeList;
    place-self: start center;
  }
}
