@use "../contribute/circles.module" as hello;

.circleA_login {
  --X: -5vw;
  --Y: -5vh;
  --size: 400px;

  --X-contribute: ;
  --Y-contribute: ;
  --Z-contribute: ;
}

.circleA_login {
  position: fixed;
  border-radius: 50%;
  outline: none;
  z-index: -1;
}

.circleA_login {
  left: var(--X);
  top: var(--Y);
  width: var(--size);
  height: var(--size);
}
