.depositFormLayout {
  height: 100%;
  width: 65vw;
  display: flex;
  flex-direction: column;
}

.depositHeading {
  font-size: 1rem;
  margin: 0.5rem 0 0.8rem 0;
}

.depositHeading + div {
  font-size: 40px;
}

.depositSVG {
  width: 2ch;
  vertical-align: text-bottom;
  font-weight: 600;
}

.currencyButtons {
  display: flex;
}