.depositForm {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modalHeading {
  font-size: 1rem;
}

.depositButton {
  background-color: var(--primary);
}

@media (prefers-color-scheme: dark) {
  .depositButton {
    color: var(--darktheme-black-text);
    background-color: var(--darktheme-secondary);
  }
}
