.circleC {
  position: fixed;
  cursor: pointer;
  border-radius: 50%;
  font-weight: bold;

  --x-login: 25vw;
  --y-login: 80vh;
  --width-login: 45vh;
  --height-login: 45vh;

  --x-button: 60vw;
  --y-button: 0vh;
  --width-button: 40vw;
  --height-button: 13vh;

  --background-color-login: var(--primary-very-light-color);
  --background-color-contribute: var(--primary-light-color);
  --background-color-create: var(--primary-light-color);

  font-size: var(--font-size-base);
  outline: 5px dotted transparent;
  outline-offset: 4px;

  &:focus-visible {
    outline-color: var(--primary-color);
    transition: outline-color 0.15s, color 0.2s, fill 0.2s;
  }

  // This makes sure the text inside the button changes color when the user hovers over it on the contributor/creator pages
  @media (hover: hover) {
    &:hover {
      color: var(--hover-text-color) !important;
      fill: var(--hover-text-color) !important;
    }
  }

  @media (prefers-color-scheme: dark) {
    --background-color-login: var(--primary-dark-color);
  }
}

@media (min-width: 600px) and (orientation: portrait) {
  .circleC {
    --y-login: 82vh;
    --width-login: 440px;
    --height-login: 440px;

    outline-width: 10px;
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .circleC {
    --x-login: 80vw;
    --y-login: -12vh;
    --width-login: 610px;
    --height-login: 610px;
    --login-background-color: var(--primary-color);

    --x-button: 80vw;
    --y-button: 0vh;
    --width-button: 20vw;
    --height-button: 15vh;
  }
}
