// THIS IS MOBILE FIRST DESIGN (PLEASE REMEMBER)

.circleC {
  // --circle-c-login-background-color NEEDS to be very bright on mobile screens for the right contrast
  --circle-c-login-background-color: var(--primary-very-light-color);
  --circle-c-contributor-background-color: var(--primary-color);
  --circle-c-creator-background-color: var(--secondary-color);

  // I need to apply the background-color here in css as well (not just in the tsx)
  // Because when the user first visits my site, I don't want the background-color to start off as transparent
  background-color: var(--circle-c-login-background-color);

  // The text color should start be transparent when the user first navigates to the login page
  color: transparent;
  fill: transparent; // this is for the arrow svg inside my circle button

  // This text color 
  --text-color-outside-login:  ;

  // This makes sure the text inside the button changes color when the user hovers over it on the contributor/creator pages
  @media (hover: hover) {
    &:hover {
      color: var(--hover-text-color) !important;
      fill: var(--hover-text-color) !important;
    }
  }
}

@media (prefers-color-scheme: dark) {
}

// I can't set the background-color property directly.
@media (min-width: 1280px) and (orientation: landscape) {
  .circleC {
    --circle-c-login-background-color: var(--primary-color);
  }

  @media (prefers-color-scheme: dark) {
  }
}
