.actionButton {
  width: unset;
  background-color: var(--secondary);

  &:hover {
    color: var(--primary);
  }

  &:focus-visible {
    outline-color: var(--secondary);
  }
}

@media(prefers-color-scheme: dark) {
  .actionButton {
    color: var(--primary-light);
  }
} 