.balance {
  color: var(--text);
  font-family: aileron;
  font-weight: 400;
  font-size: inherit;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.eth {
  font-size: inherit;
  font-family: aileron;
  font-weight: 200;
  margin-right: 14px;
}