.label {
  position: relative;
  cursor: pointer;
  user-select: none;
  margin-bottom: 22px;
  transition: all 0.2s;
  width: fit-content;

  & .checkboxInput {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }

  &:hover .checkboxInput + .checkbox {
    transition: all 0.2s;
    background-color: var(--primary-light);
  }

  &:focus-within .checkboxInput:not(:checked) + .checkbox {
    transition: all 0.2s;
  }

  &:hover .checkboxInput:checked + .checkbox {
    background-color: var(--primary-light);
  }

  & .checkboxInput + .checkbox {
    &::after {
      content: "🗸";
      position: absolute;
      top: -3px;
      opacity: 0;
      transition: all 0.2s;
    }
  }

  & .checkboxInput:checked + .checkbox {
    background-color: var(--primary-light);
    &::after {
      content: "🗸";
      position: absolute;
      top: -3px;
      opacity: 1;
      transition: all 0.2s;
    }
  }
}

.checkbox {
  position: absolute;
  height: 16px;
  width: 16px;
  background-color: #eee;
  margin-left: 12px;
  transition: all 0.2s;
  border-radius: 2px;
  top: 50%;
  margin-top: -7px;
}
