/* LOGIN PAGE*/
@keyframes circleA_animation {
  to { transform: scale(125%) translateX(10px); }
}

@keyframes circleB_animation {
  to { transform: scale(95%) translate(2px, 30px); }
}

@keyframes circleC_animation {
  to { transform: scale(150%) translate(-40px, -40px); }
}


/* CONTRIBUTE PAGE & CREATE PAGE */
@keyframes leftBall_animation {
  to { transform: scale(115%) translate(20px, -20px); }
}

@keyframes rightBall_animation {
  to { transform: scale(80%) translate(-20px, 10px); }
}
