.circleA_contribute {
  position: fixed;
  top: 76vh;
  left: 17vw;
  width: 10vh;
  height: 10vh;
  background-color: var(--primary-light);
  border-radius: 50%;

  animation: 5s linear 0s infinite alternate none running leftBall_animation;
  transition: all 0.5s linear;
}

/* button */
.circleB_contribute {
  position: fixed;
  top: 0vh;
  left: 60vw;
  width: 40vw;
  height: 13vh;

  background-color: var(--secondary);
  border-radius: 0 0 0 2rem;
  cursor: pointer;

  font-size: 1.5rem;
  font-weight: bold;

  transition: all 0.5s linear;
  transition-property: top, left, width, height, border-radius, background-color,
    font-size, font-weight;
}

.circleB_contribute:focus {
  outline-offset: 3px;
  outline: 3px dotted var(--secondary);
}

.circleC_contribute {
  position: fixed;
  top: 77vh;
  left: 55vw;
  width: 18vh;
  height: 18vh;
  background-color: var(--primary);
  border-radius: 50%;

  animation: 5s linear 0s infinite alternate none running rightBall_animation;
  transition: all 0.5s linear;
}

@media (prefers-color-scheme: dark) {
  .circleA_contribute {
    background-color: var(--darktheme-primary);
  }

  .circleC_contribute {
    background-color: var(--darktheme-primary-light);
  }

  .circleB_contribute {
    background-color: var(--darktheme-secondary);
  }

  .circleB_contribute:focus {
    background-color: var(--darktheme-secondary);
    outline-color: var(--darktheme-secondary);
  }
}
