.circleA_contribute,
.circleB_contribute,
.circleC_contribute {
  --circleA-contribute-top: 80vh;
  --circleA-contribute-left: 17vw;
  --circleA-contribute-size: 10vh;

  --circleB-contribute-top: 0vh;
  --circleB-contribute-left: 60vw;
  --circleB-contribute-width: 40vw;
  --circleB-contribute-height: 13vh;
  --circleB-contribute-fs: 24px;

  --circleB-contribute-outline-offset: 3px;
  --circleB-contribute-outline-size: 5px;
  --circleB-contribute-outline-color: var(--secondary);

  --circleC-contribute-top: 77vh;
  --circleC-contribute-left: 55vw;
  --circleC-contribute-size: 18vh;
}

@media only screen and (min-width: 1280px) and (orientation: landscape) {
  .circleA_contribute,
  .circleB_contribute,
  .circleC_contribute {
    --circleA-contribute-left: 12vw;

    --circleB-contribute-width: 20vw;
    --circleB-contribute-left: 80vw;
    --circleB-contribute-fs: 2.5vw;
    --circleB-contribute-outline-offset: 4px;
    --circleB-contribute-outline-size: 10px;

    --circleC-contribute-top: 69vh;
    --circleC-contribute-left: 30vw;
  }
}

.circleA_contribute,
.circleB_contribute,
.circleC_contribute {
  position: fixed;
  z-index: -1;
}

.circleA_contribute {
  top: var(--circleA-contribute-top);
  left: var(--circleA-contribute-left);
  width: var(--circleA-contribute-size);
  height: var(--circleA-contribute-size);
  background-color: var(--primary-light);
  border-radius: 50%;

  animation: 5s linear 0s infinite alternate none running leftBall_animation;
  transition: all 0.5s linear;
}

.circleB_contribute {
  top: var(--circleB-contribute-top);
  left: var(--circleB-contribute-left);
  width: var(--circleB-contribute-width);
  height: var(--circleB-contribute-height);

  background-color: var(--secondary);
  color: var(--darktheme-black-text);
  border-radius: 0 0 0 32px;
  cursor: pointer;

  font-size: var(--circleB-contribute-fs);
  font-weight: bold;

  transition: top 0.7s, left 0.7s, width 0.5s, height 0.5s,
    border-top-left-radius 1.2s, border-top-right-radius 1s,
    border-bottom-left-radius 1.2s, border-bottom-right-radius 1.1s,
    background-color 0.7s 0.2s, color 0.8s 0.8s;
}

.circleB_contribute:focus {
  outline-offset: var(--circleB-contribute-outline-offset);
  outline: var(--circleB-contribute-outline-size) dotted
    var(--circleB-contribute-outline-color);
}

.circleB_arrowSVG_contribute {
  fill: var(--darktheme-black-text);
  width: 2ch;
  vertical-align: text-bottom;
  transition: fill 0.8s linear 0.8s;
}

.circleC_contribute {
  top: var(--circleC-contribute-top);
  left: var(--circleC-contribute-left);
  width: var(--circleC-contribute-size);
  height: var(--circleC-contribute-size);
  background-color: var(--primary);
  border-radius: 50%;

  animation: 5s linear 0s infinite alternate none running rightBall_animation;
  transition: all 0.5s linear;
}

@media (prefers-color-scheme: dark) {
  .circleA_contribute {
    background-color: var(--darktheme-primary);
  }

  .circleB_contribute {
    background-color: var(--darktheme-secondary);
  }

  .circleB_contribute:focus {
    background-color: var(--darktheme-secondary);
    outline-color: var(--darktheme-secondary);
  }

  .circleC_contribute {
    background-color: var(--darktheme-primary-light);
  }
}
