.circleA_create,
.circleB_create,
.circleC_create {
  --circleA-create-top: 64vh;
  --circleA-create-left: 80vw;
  --circleA-create-size: 30vw;

  --circleB-create-top: 0vh;
  --circleB-create-left: 60vw;
  --circleB-create-width: 40vw;
  --circleB-create-height: 13vh;
  --circleB-create-fs: 24px;

  --circleC-create-top: 82vh;
  --circleC-create-left: 63vw;
  --circleC-create-size: 13vh;
}

@media only screen and (min-width: 1280px) and (orientation: landscape) {
  .circleA_create,
  .circleB_create,
  .circleC_create {
    --circleB-create-width: 20vw;
    --circleB-create-left: 80vw;
    --circleB-create-fs: 2.5vw;
  }
}

.circleA_create,
.circleB_create,
.circleC_create {
  position: fixed;
  z-index: -1;
}

.circleA_create {
  top: var(--circleA-create-top);
  left: var(--circleA-create-left);
  width: var(--circleA-create-size);
  height: var(--circleA-create-size);
  background-color: var(--secondary-light);
  border-radius: 50%;

  animation: 5s linear 0s infinite alternate none running rightBall_animation;
  transition: all 0.5s linear;
}

.circleB_create {
  top: var(--circleB-create-top);
  left: var(--circleB-create-left);
  width: var(--circleB-create-width);
  height: var(--circleB-create-height);

  background-color: var(--primary-light);
  border-radius: 0 0 0 32px;
  cursor: pointer;

  font-size: var(--circleB-create-fs);
  font-weight: bold;

  transition: top 0.7s, left 0.7s, width 0.5s, height 0.5s,
    border-top-left-radius 1.2s, border-top-right-radius 1s,
    border-bottom-left-radius 1.2s, border-bottom-right-radius 1.1s,
    background-color 0.7s 0.2s, color 0.8s 0.8s;
}

.circleB_create:focus {
  outline-offset: 3px;
  outline: 3px dotted var(--primary);
}

.circleB_arrowSVG_create {
  fill: var(--darktheme-black-text);
  width: 2ch;
  vertical-align: text-bottom;
  transition: fill 0.8s linear 0.8s;
}

.circleC_create {
  top: var(--circleC-create-top);
  left: var(--circleC-create-left);
  width: var(--circleC-create-size);
  height: var(--circleC-create-size);
  background-color: var(--secondary);
  border-radius: 50%;

  animation: 5s linear 0s infinite alternate none running leftBall_animation;
  transition: all 0.5s linear;
}

@media (prefers-color-scheme: dark) {
  .circleA_create {
    background-color: var(--darktheme-secondary-light);
  }

  .circleC_create {
    background-color: var(--darktheme-secondary-dark);
  }

  .circleB_create {
    background-color: var(--darktheme-primary-light);
  }
  .circleB_create:focus {
    outline-color: var(--darktheme-secondary);
  }
}
