.circleA_login {
  position: fixed;
  top: -5vh;
  left: -5vw;
  width: 7rem;
  height: 7rem;
  background-color: var(--primary);
  border-radius: 50%;
  opacity: 0.4;

  animation: 7s linear 0s infinite alternate none running circleA_animation;
  transition: all 0.5s linear;
}

.circleB_login {
  position: fixed;
  top: 40vh;
  left: 92vw;
  width: 8rem;
  height: 8rem;
  background-color: var(--primary);
  border-radius: 50%;
  opacity: 0.4;
  outline: none;

  animation: 6s linear 1s infinite alternate none running circleB_animation;
  transition: all 0.5s linear;
}

.circleC_login {
  position: fixed;
  top: 92vh;
  left: 30vw;
  width: 10rem;
  height: 10rem;
  background-color: var(--primary);
  border-radius: 50%;
  opacity: 0.4;
  z-index: -1;

  animation: 25s linear 0.5s infinite alternate none running circleC_animation;
  transition: all 0.5s linear;
}

@media only screen and (min-height: 736px) {
  .circleC {
    top: 80vh;
    width: 19rem;
    height: 19rem;
  }
}

@media (prefers-color-scheme: dark) {
  .circleA,
  .circleB,
  .circleC {
    background-color: var(--darktheme-primary);
  }
}
