:root {
  --circleA-login-top: -5vh;
  --circleA-login-left: -5vw;
  --circleA-login-size: 112px;

  --circleB-login-top: 40vh;
  --circleB-login-left: 92vw;
  --circleB-login-size: 128px;

  --circleC-login-top: 92vh;
  --circleC-login-left: 30vw;
  --circleC-login-size: 160px;
}

@media only screen and (min-height: 736px) {
  :root {
    --circleC-login-top: 80vh;
    --circleC-login-size: 304px;
  }
}

@media (prefers-color-scheme: dark) {
  .circleA_login,
  .circleB_login,
  .circleC_login {
    background-color: var(--darktheme-primary);
  }
}

.circleA_login,
.circleB_login,
.circleC_login {
  position: fixed;
  color: transparent;
  background-color: var(--primary-light);
  border-radius: 50%;
  outline: none;
  z-index: -1;
}

.circleA_login {
  top: var(--circleA-login-top);
  left: var(--circleA-login-left);
  width: var(--circleA-login-size);
  height: var(--circleA-login-size);

  animation: 7s linear 0s infinite alternate none running circleA_animation;
  transition: all 0.5s linear;
}

.circleB_login {
  top: var(--circleB-login-top);
  left: var(--circleB-login-left);
  width: var(--circleB-login-size);
  height: var(--circleB-login-size);

  animation: 6s linear 1s infinite alternate none running circleB_animation;
  transition: top 0.5s linear, left 0.5s linear, background-color 0.5s linear,
    color 0.5s linear;
}

.circleB_arrowSVG_login {
  fill: transparent;
  width: 2ch;
  vertical-align: text-bottom;
}

.circleC_login {
  top: var(--circleC-login-top);
  left: var(--circleC-login-left);
  width: var(--circleC-login-size);
  height: var(--circleC-login-size);

  animation: 25s linear 0.5s infinite alternate none running circleC_animation;
  transition: all 0.5s linear;
}

@media only screen and (prefers-color-scheme: dark) {
  .circleA_login,
  .circleB_login,
  .circleC_login {
    background-color: var(--darktheme-primary);
  }
}
