.disclaimer {
  user-select: none;
}

.warning {
  font-size: inherit;
}

.popup {
  font-size: inherit;
  cursor: pointer;
  background-color: transparent;
  border-bottom: 5px dotted transparent;
  color: var(--primary-light);
  outline: none;
  transition: all 0.3s;

  &:focus {
    border-bottom: 5px dotted var(--secondary);
    color: var(--secondary);
  }
}
