.typewriter {
  font: var(--font-size-xl) Cutesy;
  text-align: center;
  margin-top: min(30px, 5vh);

  // Must be height for stuff to scroll
  height: clamp(120px, 13vh, 180px);
  overflow-y: auto;
  scrollbar-width: thin;
}

@media (min-width: 1280px) {
  .typewriter {
    height: clamp(180px, 20vh, 280px);
  }
}
