.currencyField {
  color: var(--text-color);
  background-color: transparent;
  outline-color: transparent;
  width: 100%;
  font-size: var(--font-size-base);
  caret-color: var(--text-color);
  margin-left: 10px;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.transitioningBorder {
  border-image: linear-gradient(
      to right,
      var(--secondary-color),
      transparent 80%
    )
    1;
  border-style: solid;
  border-bottom-width: 5px;
  margin-bottom: 15px;
}

.currencyContainer {
  display: flex;
  border-bottom: 5px solid var(--modal-background-color);
  padding-bottom: 5px;
  margin-bottom: -5px;
  transition: border-color 0.3s;

  &:hover {
    border-color: transparent;
    transition: border-color 0.3s;
  }

  &:focus-within {
    border-color: transparent;
    transition: border-color 0.3s;
  }
}
