.circleButton {
  position: fixed;
  font-size: clamp(10px, 6vw, 30px);
  font-weight: bold;
  outline-offset: 3px;
  outline: 5px dotted transparent;

  cursor: pointer;

  transition: outline-color 0.2s,
    top var(--circle-animation-duration) var(--circle-animation-duration),
    left var(--circle-animation-duration) var(--circle-animation-delay),
    width var(--circle-animation-duration) var(--circle-animation-delay),
    height var(--circle-animation-duration) var(--circle-animation-delay),
    color var(--text-color-animation-duration) var(--text-color-animation-delay),
    fill var(--text-color-animation-duration) var(--text-color-animation-delay),
    border-radius var(--circle-animation-duration) var(--circle-animation-delay),
    background-color var(--circle-animation-duration)
      var(--circle-animation-delay);

  &:focus-visible {
    outline-color: var(--primary-color);
    transition: outline-color 0.15s, color 0.2s, fill 0.2s;
  }
}
