.actionButton {
  width: unset;
  background-color: var(--secondary-color);

  &:hover {
    color: var(--primary-color);
  }

  &:focus-visible {
    outline-color: var(--secondary-color);
  }
}

@media (prefers-color-scheme: dark) {
  .actionButton {
    color: var(--text-color);
    &:hover {
      color: var(--primary-light-color);
    }
  }
}
