// THIS IS MOBILE FIRST DESIGN (PLEASE REMEMBER)
.circleC {
  --top-login: 80vh;
  --left-login: 25vw;
  --width-login: 45vh;
  --height-login: 45vh;

  // --circle-c-login-background-color NEEDS to be very bright on mobile screens for the right contrast
  --circle-c-login-background-color: var(--primary-very-light-color);

  // I need to apply the background-color here in css as well (not just in the tsx)
  // Because when the user first visits my site, I don't want the background-color to start off as transparent
  background-color: var(--circle-c-login-background-color);

  position: fixed;
  font-size: clamp(10px, 6vw, 30px);
  outline-offset: 3px;
  outline: 5px dotted transparent;
  cursor: pointer;
  border-radius: 50%;
  font-weight: bold;

  transition: outline-color 0.2s,
    top var(--circle-animation-duration) var(--circle-animation-duration),
    left var(--circle-animation-duration) var(--circle-animation-delay),
    width var(--circle-animation-duration) var(--circle-animation-delay),
    height var(--circle-animation-duration) var(--circle-animation-delay),
    color var(--text-color-animation-duration) var(--text-color-animation-delay),
    fill var(--text-color-animation-duration) var(--text-color-animation-delay),
    border-radius var(--circle-animation-duration) var(--circle-animation-delay),
    background-color var(--circle-animation-duration)
      var(--circle-animation-delay);
}

@media (min-width: 600px) and (orientation: portrait) {
  .circleC {
    --top-login: 82vh;
    --width-login: 440px;
    --height-login: 440px;
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .circleC {
    --left-login: 80vw;
    --top-login: 3vh;
    --width-login: 490px;
    --height-login: 490px;

    --circle-c-login-background-color: var(--primary-color);
  }
}
