.circleA {
  --circleA-X: -5vw;
  --circleA-Y: -5vh;
  --circleA-size: 112px;
}
.circleB {
  --circleB-X: 92vw;
  --circleB-Y: 40vh;
  --circleB-size: 128px;
}
.circleC {
  --circleC-X: 30vw;
  --circleC-top: 92vh;
  --circleC-size: 160px;
}

@media (min-width: 600px) and (orientation: portrait) {
  .circleA {
    --circleA-size: clamp(224px, 6vw, 650px);
  }

  .circleB {
    --circleB-size: 200px;
  }

  .circleC {
    --circleC-Y: 82vh;
    --circleC-size: 440px;
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .circleA {
    --circleA-size: 240px;
  }
  .circleB {
    --circleB-X: 50vw;
    --circleB-Y: 85vh;
    --circleB-size: 300px;
  }
  .circleC {
    --circleC-X: 80vw;
    --circleC-Y: 3vh;
    --circleC-size: 490px;
  }
}

.circleA,
.circleB,
.circleC {
  position: fixed;
  border-radius: 50%;
  outline: none;
  z-index: -1;
}

.circleA {
  left: var(--circleA-X);
  top: var(--circleA-Y);
  width: var(--circleA-size);
  height: var(--circleA-size);
}

.circleB {
  left: var(--circleB-X);
  top: var(--circleB-Y);
  width: var(--circleB-size);
  height: var(--circleB-size);
}

.circleC {
  top: var(--circleC-top);
  left: var(--circleC-left);
  width: var(--circleC-size);
  height: var(--circleC-size);
  color: transparent;
  fill: transparent;
}
