@keyframes moveA {
  to { transform: scale(125%) translateX(10px); }
}

@keyframes moveB {
  to { transform: scale(95%) translate(2px, 30px); }
}

@keyframes moveC { 
  to { transform: scale(150%) translate(-40px, -40px); }
}

.circleA {
  position: fixed;
  top: -5vh;
  left: -5vw;
  width: 7rem;
  height: 7rem;
  background-color: var(--main-blue);
  border-radius: 50%;
  opacity: 0.4;

  animation: 7s linear 0s infinite alternate none running moveA;
}

.circleB {
  position: fixed;
  top: 40vh;
  left: 92vw;
  width: 8rem;
  height: 8rem;
  background-color: var(--main-blue-lighter);
  border-radius: 50%;

  animation: 6s linear 1s infinite alternate none running moveB;
}

.circleC {
  position: fixed;
  top: 92vh;
  left: 30vw;
  width: 10rem;
  height: 10rem;
  background-color: var(--main-blue);
  border-radius: 50%;
  opacity: 0.4;
  z-index: -1;

  animation: 25s linear 0.5s infinite alternate none running moveC;
}


@media only screen and (min-height: 736px) {
  .circleC {
    top: 80vh;
    width: 19rem;
    height: 19rem;
  }
}