.circleA,
.circleB,
.circleC {
  --circleA-top: -5vh;
  --circleA-left: -5vw;
  --circleA-size: 112px;

  --circleB-top: 40vh;
  --circleB-left: 92vw;
  --circleB-size: 128px;

  --circleC-top: 92vh;
  --circleC-left: 30vw;
  --circleC-size: 160px;

  position: fixed;
  background-color: var(--primary-light);
  border-radius: 50%;
  outline: none;
  z-index: -1;
}

@media (min-width: 600px) and (orientation: portrait) {
  .circleA,
  .circleB,
  .circleC {
    --circleA-size: clamp(224px, 6vw, 650px);
    --circleB-size: 200px;
    --circleC-top: 82vh;
    --circleC-size: 440px;
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .circleA,
  .circleB,
  .circleC {
    --circleA-size: 240px;

    --circleB-left: 50vw;
    --circleB-top: 85vh;
    --circleB-size: 300px;

    --circleC-top: 3vh;
    --circleC-left: 80vw;
    --circleC-size: 490px;
  }
}

.circleA {
  top: var(--circleA-top);
  left: var(--circleA-left);
  width: var(--circleA-size);
  height: var(--circleA-size);
}

.circleB {
  top: var(--circleB-top);
  left: var(--circleB-left);
  width: var(--circleB-size);
  height: var(--circleB-size);
  fill: var(--black-text);
}

.circleC {
  top: var(--circleC-top);
  left: var(--circleC-left);
  width: var(--circleC-size);
  height: var(--circleC-size);
  color: transparent;
  fill: transparent;
}

@media (prefers-color-scheme: dark) {
  .circleA,
  .circleB,
  .circleC {
    background-color: var(--darktheme-primary);
  }
}
