.loginLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-inline: max(1.5em, 6vw);
}

// .metamaskSVG {
//   width: clamp(5em, 30vw, 16em);
// }

.loginContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


@media (min-width: 1280px) and (orientation: landscape) {
  .metamaskSVG {
    width: clamp(1em, 13vw, 29em);
  }
}

/* DESKTOP DESIGN */
@media (min-width: 1280px) and (orientation: landscape) {
  .loginLayout {
    display: grid;
    grid:
      [Pethreon-row-start] "Pethreon Video" [Pethreon-row-end]
      [Features-row-start] "Features Video" [Features-row-end]
      [Message-row-start] "Typewriter Video" [Message-row-end]
      [Login-row-start] "Login Video" [Login-row-end]
      [Circles-row-start] "None Footer" [Circles-row-end];
    margin-inline: 0;
  }

  .pethreon,
  .features,
  .typewriter,
  .loginContainer {
    margin-left: max(32px, 3vw);
    width: 40vw;
  }

  .pethreon {
    grid-area: Pethreon;
  }

  .features {
    grid-area: Features;
  }

  .typewriter {
    grid-area: Typewriter;
  }

  .loginContainer {
    grid-area: Login;
  }

  .video {
    grid-area: Video;
  }
}
