main {
  --fs-Pethreon: clamp(1rem, 10vw + 1rem, 10rem);
  --fs-features: clamp(1rem, 1vw + 1rem, 2rem);
  --fs-typewriter: clamp(1rem, 5vw + 1rem, 10rem);
  --fs-login-button: clamp(1rem, 1.1vw + 1rem, 10rem);
  --fs-footer: clamp(1rem, 1vw + 1rem, 10rem);

  --Pethreon-margin-block: max(16px, 2vh);
  --features-margin-bottom: min(29px, 6vh);
  --typewriter-min-height: clamp(98px, 4vh, 120px);
  --typewriter-margin-bottom: 1em;
  --metamask-svg-width: clamp(5em, 30vw, 16em);
  --footer-padding-top: 4vh;
}

@media only screen and (min-width: 390px) {
  main {
    --fs-features: clamp(1rem, 2vw + 1rem, 7rem);
    --fs-typewriter: clamp(1rem, 6vw + 1rem, 10rem);
    --fs-login-button: clamp(1rem, 2.5vw + 1rem, 10rem);
    --fs-footer: clamp(1rem, 1vw + 1rem, 10rem);

    --features-margin-bottom: max(50px, 6vh);
    --typewriter-min-height: clamp(100px, 17vh, 250px);
  }
}

@media only screen and (min-width: 1280px) and (orientation: landscape) {
  main {
    --fs-Pethreon: clamp(5rem, 5vw + 1rem, 15rem);
    --fs-features: clamp(1.5rem, 0.8vw + 1rem, 10rem);
    --fs-typewriter: clamp(3rem, 2vw + 1rem, 10rem);
    --fs-login-button: clamp(1rem, 1vw + 1rem, 10rem);

    --features-margin-bottom: min(35px, 6vh);
    --typewriter-min-height: clamp(100px, 6vh, 150px);
    --typewriter-margin-bottom: 0;
    --metamask-svg-width: clamp(1em, 13vw, 16em);
  }
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-inline: max(1.5em, 6vw);
}

.Pethreon {
  font-size: var(--fs-Pethreon);
  margin-block: var(--Pethreon-margin-block);
  font-weight: 300;
}

.Ξ {
  font-size: smaller;
}

.features {
  font-size: var(--fs-features);
  margin-bottom: var(--features-margin-bottom);
  line-height: 1.5;
  list-style-type: none;
}

.features > li:first-child {
  margin-bottom: 1em;
}

main > p {
  font-family: cute;
  font-size: var(--fs-typewriter);
  min-height: var(--typewriter-min-height);
  text-align: center;
  scrollbar-width: thin;
  margin-bottom: var(--typewriter-margin-bottom);
}

.loginContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.loginContainer > svg {
  width: var(--metamask-svg-width);
}

.loginButton {
  font-size: var(--fs-login-button);
  border: 0.145em solid var(--primary-dark);
  background: none;
  padding-block: 0.4em;
  color: var(--primary-dark);
  border-radius: 1em;
  cursor: pointer;
  outline: none;
  transition: all 0.2s;
  width: 14ch;
}

.loginButton:focus {
  transform: rotate(2deg);
}

.loginButton:active {
  transform: none;
}

.video {
  display: none;
}

footer {
  font-size: var(--fs-footer);
  align-self: flex-end;
  margin-top: auto;
  padding-top: var(--footer-padding-top);
  opacity: 1;
}

footer > a {
  color: var(--primary-dark);
}

footer > a:first-child {
  margin-right: 3vw;
}

/* DESKTOP DESIGN */
@media only screen and (min-width: 1280px) and (orientation: landscape) {
  main {
    display: grid;
    grid:
      [Pethreon-row-start] "Pethreon Video" [Pethreon-row-end]
      [Features-row-start] "Features Video" [Features-row-end]
      [Message-row-start] "Message Video" [Message-row-end]
      [Login-row-start] "Login Video" [Login-row-end]
      [Circles-row-start] "None Footer" [Circles-row-end];
    margin-inline: 0;
  }

  .Pethreon,
  .features,
  .loginContainer,
  main > p {
    margin-inline-start: max(32px, 3vw);
    width: 40vw;
  }

  .Pethreon {
    grid-area: Pethreon;
  }

  .features {
    grid-area: Features;
  }

  main > p {
    grid-area: Message;
  }

  .loginContainer {
    grid-area: Login;
  }

  .loginButton {
    width: unset;
    padding: 0.6em;
  }

  .video {
    grid-area: Video;
    display: block;
    border-radius: 0.6em;
    aspect-ratio: 256 / 135;
    width: 90%;
    align-self: center;
    justify-self: center;
  }

  footer {
    grid-area: Footer;
    place-self: end;
    margin-right: 5%;
    padding: unset;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: var(--darktheme-background);
    color: var(--darktheme-text);
  }

  a {
    color: var(--darktheme-anchor-tag);
  }

  footer {
    opacity: 0.8;
  }

  footer > a {
    color: var(--darktheme-white-text);
  }

  .loginButton {
    border-color: var(--darktheme-white-text);
    color: var(--darktheme-white-text);
  }

  .loginButton:focus,
  .loginButton:hover {
    background-color: var(--darktheme-white-text);
    color: var(--darktheme-background);
  }
}
