.loginLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-inline: max(1.5em, 6vw);
}

.loginContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8em;
}

/* DESKTOP DESIGN */
@media (min-width: 1280px) and (orientation: landscape) {
  .loginLayout {
    display: grid;
    grid:
      [Pethreon-row-start] "LoginContent Video" [Pethreon-row-end]
      [Features-row-start] "LoginContent Video" [Features-row-end]
      [Message-row-start] "LoginContent Video" [Message-row-end]
      [Login-row-start] "LoginContent Video" [Login-row-end]
      [Footer-row-start] ". Footer" [Footer-row-end];
    margin-inline: 0;
  }

  .loginContent {
    grid-area: LoginContent;
    margin-left: max(32px, 3vw);
    width: 40vw;
  }

  video {
    grid-area: Video;
  }

  footer {
    grid-area: Footer;
    place-self: end;
    padding: unset;
    margin-right: 5%;
  }
}
