@keyframes loading_animation {
  25% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(0);
  }
  100% {
    color: var(--secondary);
    transform: translateY(-9px) rotate(1deg);
  }
}

.loading {
  position: fixed;
  font-family: Cutesy;
  font-size: 13vmin;
  margin-left: clamp(23px, 9vw, 80px);
  margin-top: 40px;
  top: 0%;

  & span {
    display: inline-block;
    animation: 0.8s linear 0s infinite alternate none running loading_animation;
  }
}

@media (max-width: 1279px) and (orientation: landscape) {
  .loading {
    position: absolute;
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .loading {
    margin-left: clamp(30px, 4vw, 64px);
  }
}
