.circleA {
  --Y: 80vh;
  --X: 50vw;
  --size: 10vh;
}

.circleB {
  --Y: 77vh;
  --X: 55vw;
  --size: 18vh;
}

.circleC {
  --Y: 0vh;
  --X: 60vw;
  --width: 40vw;
  --height: 13vh;

  --fs: clamp(10px, 6vw, 30px);
  --outline-offset: 3px;
  --outline-size: 5px;
}

.circleA,
.circleB,
.circleC {
  --position: fixed;
}

@media (min-width: 600px) {
  .circleC {
    --fs: clamp(10px, 5vw, 190px);
    --outline-offset: 4px;
    --outline-size: 10px;
  }
}

@media (max-width: 1279px) and (orientation: landscape) {
  .circleA,
  .circleB {
    --size: 0;
    --position: absolute;
  }

  .circleC {
    --Y: 25vh;
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .circleC {
    --width: 20vw;
    --height: 80vw;
    --fs: 2.5vw;
    --outline-offset: 4px;
    --outline-size: 10px;

    --transition: top 0.7s, left 0.7s, width 0.5s 0.4s, height 0.8s,
      border-top-left-radius 0.7s 0.2s, border-top-right-radius 0.7s 0.2s,
      border-bottom-left-radius 0.7s 0.2s, border-bottom-right-radius 0.7s 0.2s,
      background-color 1.6s 1s, color 1.6s 1s, outline-color 0.2s;

    --arrowSVG-transition: fill 1.6s 1s;
  }

  .circleA,
  .circleB,
  .circleC {
    // --size: 12vh;
    // --Y: 75vh;
    // --X: 12vw;

    --size: 25vh;
    --Y: 51vh;
    --X: 22vw;
  }
}

.circleA_contribute,
.circleB_contribute,
.circleC_contribute {
  position: var(--position);
  z-index: -1;
  top: var(--Y);
  left: var(--X);
  width: var(--size);
  height: var(--size);
}

.circleA {
  // background-color: var(--primary-light);
  border-radius: 50%;

  animation: 5s linear 0s infinite alternate none running leftBall_animation;
  transition: all 0.5s linear;
}

.circleB {
  // background-color: var(--primary);
  border-radius: 50%;

  animation: 5s linear 0s infinite alternate none running rightBall_animation;
  transition: all 0.5s linear;
}

.circleC {
  width: var(--width);
  height: var(--height);

  background-color: var(--secondary);
  color: var(--darktheme-black-text);
  border-radius: 0 0 0 32px;
  cursor: pointer;

  font-size: var(--fs);
  font-weight: bold;

  outline-offset: var(--outline-offset);
  outline: var(--outline-size) dotted transparent;

  transition: var(--transition);

  &:focus {
    outline-color: var(--secondary);
    transition: outline-color 0.2s;
  }
}
