.circleC {
  outline: none;
  z-index: -1;
  position: fixed;
  cursor: pointer;
  font-weight: bold;
  font-size: var(--fs);
  outline-offset: var(--outline-offset);
  outline: var(--outline-size) dotted transparent;
  color: var(--text);
  fill: var(--text);

  --top-login: 92vh;
  --left-login: 30vw;
  --size-login: 160px;
  --width-login: 160px;
  --height-login: 160px;

  --top-contribute: 0vh;
  --left-contribute: 60vw;
  --width-contribute: 40vw;
  --height-contribute: 13vh;

  --top-create: 0vh;
  --left-create: 60vw;
  --width-create: 40vw;
  --height-create: 13vh;

  --fs: clamp(10px, 6vw, 30px);
  --outline-offset: 3px;
  --outline-size: 5px;

  transition: outline-color 0.2s;

  &:focus,
  &:hover {
    outline-color: var(--secondary);
    transition: outline-color 0.2s;
  }
}

@media (min-width: 600px) and (orientation: portrait) {
  .circleC {
    --top-login: 82vh;
    --width-login: 440px;
    --height-login: 440px;

    --fs: clamp(10px, 5vw, 190px);
    --outline-offset: 4px;
    --outline-size: 10px;
  }
}

@media (max-width: 1279px) and (orientation: landscape) {
  .circleC {
    --top-contribute: 25vh;
    --height-create: 25vh;
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .circleC {
    --left-login: 80vw;
    --top-login: 3vh;
    --size-login: 490px;

    --top-contribute: 0vh;
    --left-contribute: 80vw;
    --width-contribute: 20vw;
    --height-contribute: 15vh;

    --top-create: 0vh;
    --left-create: 80vw;
    --width-create: 20vw;
    --height-create: 15vh;

    --fs: 2.5vw;
    --outline-offset: 4px;
    --outline-size: 10px;
  }
}
