.circleA {
  position: fixed;
  outline: none;
  z-index: -1;
  border-radius: 50%;
  background-color: var(--primary);
  transition-property: top, left, width, height, background-color;

  --top-login: -5vh;
  --left-login: -5vw;
  --size-login: 15vh;
  --width-login: var(--size-login);
  --height-login: var(--size-login);

  --top-contribute: 80vh;
  --left-contribute: 15vw;
  --size-contribute: 10vh;
  --width-contribute: var(--size-contribute);
  --height-contribute: var(--size-contribute);

  --top-create: 80vh;
  --left-create: 17vw;
  --size-create: 10vh;
  --width-create: var(--size-create);
  --height-create: var(--size-create);
}

@media (min-width: 600px) and (orientation: portrait) {
  .circleA {
    --left-login: -4vw;
    --top-login: -4vh;
    --size-login: clamp(224px, 7vw, 650px);
  }
}

@media (max-width: 1279px) and (orientation: landscape) {
  .circleA {
    --size-contribute: 0;
    --size-create: 0;
    position: absolute;
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .circleA {
    --size-login: 240px;

    --top-contribute: 75vh;
    --left-contribute: 6vw;
    --size-contribute: 12vh;

    --top-create: 75vh;
    --left-create: 12vw;
    --size-create: 12vh;
  }
}