.link {
  transition: all 0.15s;
  color: var(--primary-very-very-dark-color);

  &:hover {
    transition: all 0.15s;
    text-decoration-color: transparent;
  }
}

@media (prefers-color-scheme: dark) {
  .link {
    color: var(--primary-light-color);
    &:hover {
      color: var(--secondary-color);
    }
  }
}
