.createLayout {
  --create-layout-height: 60vh;
  --create-layout-margin-top: 15vh;
  --create-layout-margin-inline: clamp(23px, 9vw, 80px);

  height: var(--create-layout-height);
  margin-top: var(--create-layout-margin-top);
  margin-inline: var(--create-layout-margin-inline);
}

.pledgeList {
  border-color: var(--secondary);
}

@media (max-width: 1280px) and (orientation: landscape) {
  .createLayout {
    --create-layout-height: auto;
    --create-layout-margin-top: 35vh;
  }
}

@media (min-width: 600px) {
  .createLayout {
    --create-layout-margin-inline: clamp(3rem, 9vw, 9rem);
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .createLayout {
    display: grid;
    grid:
      [Account-row-start] "userBalance userBalance" [Action-row-end]
      [Account-row-start] "userAddress creatorActionBar" [Action-row-end]
      [Balance-row-start] ". pledgeList" [Balance-row-end]
      [Pledge-row-start] ". pledgeList" [Pledge-row-end];

    grid-gap: 10px;

    --create-layout-height: 85vh;
    --create-layout-margin-top: 15vh;
    --create-layout-margin-inline: 0;
  }

  .userBalance {
    grid-area: userBalance;
    align-self: end;
    margin-left: clamp(30px, 4vw, 64px);
    font-size: clamp(24px, 3vw + 16px, 144px);
  }

  .userAddress {
    grid-area: userAddress;
    display: block;
    place-self: center start;
    margin-left: clamp(30px, 4vw, 64px);
    font-size: clamp(0.2rem, 0.4vw + 1rem, 5rem);
  }

  .creatorActionBar {
    grid-area: creatorActionBar;
    place-self: end center;
  }

  .pledgeList {
    grid-area: pledgeList;
    place-self: start center;
  }
}
