.createLayout {
  --create-layout-margin-inline: clamp(1.5em, 9vw, 5rem);
  --create-layout-height: 60vh;
  --create-layout-margin-top: 15vh;

  height: var(--create-layout-height);
  margin-top: var(--create-layout-margin-top);
  margin-inline: var(--create-layout-margin-inline);
}

@media (min-width: 600px) {
  .createLayout {
    --create-layout-margin-inline: clamp(3rem, 9vw, 9rem);
  }
}

@media (max-width: 1280px) and (orientation: landscape) {
  .contributeLayout {
    --contribute-layout-height: auto;
    --contribute-layout-margin-top: 30vh;
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .createLayout {
    display: grid;
    grid:
      [Account-row-start] "userBalance userBalance" [Action-row-end]
      [Account-row-start] "userAddress creatorActionBar" [Action-row-end]
      [Balance-row-start] ". pledgeList" [Balance-row-end]
      [Pledge-row-start] ". pledgeList" [Pledge-row-end];

    grid-gap: 10px;

    --create-layout-height: 85vh;
    --create-layout-margin-top: 15vh;
    --create-layout-margin-inline: 0;
  }

  .userBalance {
    grid-area: userBalance;
    align-self: end;
  }

  .userAddress {
    grid-area: userAddress;
    place-self: center start;
  }

  .creatorActionBar {
    grid-area: creatorActionBar;
    place-self: end center;
  }

  .pledgeList {
    grid-area: pledgeList;
    place-self: start center;
  }
}
