.pledgeFieldContainer {
  display: flex;
}

.pledgeFieldInput {
  outline: none;
  background-color: transparent;
  caret-color: var(--secondary);
  font-size: 25px;
  overflow-x: auto;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;
  width: 74%;

  &:focus {
    border-bottom: 2px solid var(--secondary);
  }
}
