// These three properties are necessary for z-index to work properly
#backdrop {
  position: fixed;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  transition-property: opacity;
}
