.actionButton {
  font-size: 1em;
  font-weight: 600;
  padding: 0.7em;
  border-right: 2px solid var(--white-text);
  border-radius: inherit;
  outline: none;
  cursor: pointer;
}

.actionButton:focus {
  outline-offset: 3px;
  outline: 3px dotted var(--primary);
}

.actionButton > svg {
  width: 2ch;
  vertical-align: text-bottom;
}

.contributorStyles {
  background-color: var(--primary);
}

.creatorStyles {
  background-color: var(--secondary);
}

@media (prefers-color-scheme: dark) {
  .actionButton {
    border-color: var(--darktheme-black-text);
  }

  .actionButton:focus {
    outline-color: var(--darktheme-secondary);
  }

  .contributorStyles {
    background-color: var(--darktheme-secondary);
  }

  .creatorStyles {
    background-color: var(--darktheme-primary-light);
  }
}
