.actionButton {
  font-size: clamp(0.5rem, 4.5vw, 3rem);
  font-weight: 600;
  cursor: pointer;
  width: 8ch;
  padding: 0.7em;
  border-right: 3px solid white;
  background-color: transparent;
  color: var(--text-color);
  outline: 5px dotted transparent;
  transition: border-color 0.3s, color 0.3s, background-color 0.3s;

  &:hover {
    transition: color 0.3s;
    color: var(--secondary-color);
  }

  &:focus-visible {
    outline-color: var(--primary-color);
    transition: color 0.3s, outline-color 0.3s, background-color 0.3s;
  }

  & > svg {
    width: 2ch;
    vertical-align: text-bottom;
  }
}

@media (min-width: 600px) {
  .actionButton {
    outline: 5px dotted transparent;
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .actionButton {
    font-size: clamp(0.5rem, 2vw, 2rem);
    outline: 10px dotted transparent;
    width: unset;
  }
}

@media (prefers-color-scheme: dark) {
  .actionButton {
    color: var(--text-color);
  }
}
