.actionButton {
  cursor: pointer;
  border-radius: inherit;
  padding: 0.7em;
  background-color: var(--primary);
  outline: none;
  font-size: 1em;
  font-weight: 600;

  border-right: 2px solid var(--white-text);
}

.actionButton:focus {
  outline-offset: 3px;
  outline: 3px dotted var(--primary);
}

.actionButton > svg {
  width: 2ch;
  vertical-align: text-bottom;
}

/* Needs to be at the bottom to overwrite the background color */
.creatorStyles {
  background-color: var(--secondary);
}

@media (prefers-color-scheme: dark) {
  .actionButton {
    border-color: var(--darktheme-black-text);
    background-color: var(--darktheme-secondary);
  }

  .actionButton:focus {
    outline-color: var(--darktheme-secondary);
  }

  .creatorStyles {
    background-color: var(--darktheme-primary-light);
  }
}
