video {
  display: none;
}

@media (min-width: 1280px) and (orientation: landscape) {
  video {
    display: block;
    border-radius: 0.6em;
    aspect-ratio: 256 / 135;
    width: 90%;
    align-self: center;
    justify-self: center;
  }
}
