.checkbox {
  position: relative;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s;

  // HIDE THE CHECKBOX
  &__input {
    opacity: 0;
    min-height: 0;
    width: 0;
  }

  // SO I CAN USE THIS AS MY CHECKBOX INSTEAD
  &__span {
    position: absolute;
    top: 50%;
    min-height: 16px;
    width: 16px;
    background-color: #eee;
    margin: -7px 0 0 12px;
    outline: 2px solid transparent;
    border-radius: 2px;
    transition: all 0.3s;
  }

  &:hover &__span {
    background-color: var(--primary-light-color);
  }

  &__input:focus-visible + &__span {
    outline-color: var(--secondary-color);
    transition: all 0.3s;
  }

  &__input + &__span {
    &::after {
      content: "✓";
      position: absolute;
      top: -5px;
      opacity: 0;
      transition: all 0.2s;
    }
  }

  &__input:checked + &__span {
    background-color: var(--primary-light-color);
    &::after {
      opacity: 1;
      transition: all 0.2s;
    }
  }
}
