/* Warning! Please read! */
.disclaimerText {
  font-size: 1rem;
  margin-bottom: 1.2rem;
}

.popup {
  cursor: pointer;
  font-size: 1rem;
  background-color: transparent;
  border-bottom: 2px solid var(--primary-dark);
  color: var(--primary-dark);
}

/* I accept the risks */
.consentContainer {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.consentText {
  margin-right: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  .popup {
    color: var(--darktheme-anchor-tag);
    border-color: var(--darktheme-anchor-tag);
  }
  .popup:focus {
    color: var(--darktheme-secondary);
    border-color: var(--darktheme-secondary);
  }
}
