.footer {
  --fs-footer: clamp(1rem, 1vw + 1rem, 10rem);
}

@media (max-height: 600px) {
  .footer {
    --footer-padding-top: 10vh;
  }
}

@media (min-width: 390px) {
  .footer {
    --fs-footer: clamp(1rem, 1vw + 1rem, 10rem);
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .footer {
    grid-area: Footer;
    place-self: end;
    padding: unset;
    margin-right: 5%;
  }
}

.footer {
  font-size: var(--fs-footer);
  padding-top: var(--footer-padding-top);
  margin-bottom: 10px;
  align-self: flex-end;
  margin-top: auto;
  opacity: 1;

  & > a {
    color: var(--anchor-tag);

    &:first-child {
      margin-right: 3vw;
    }
  }
}