.pledgeContainer {
  overflow-y: auto;
  background-color: var(--darktheme-modal-background);
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  border-radius: 4px;
  display: grid;
  font-size: 0.9rem;
  grid: repeat(4, 1fr) / 3fr 1fr;
  grid-template-areas:
    "address delete"
    "weiPerPeriod delete"
    "duration delete"
    "dates delete";
}

.creatorAddress {
  grid-area: address;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.weiPerPeriod {
  grid-area: weiPerPeriod;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.duration {
  grid-area: duration;
}

.dates {
  grid-area: dates;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.trashSVG {
  width: 2ch;
  margin-right: 4px;
  vertical-align: text-bottom;
}

.cancelButton {
  cursor: pointer;
  grid-area: delete;
  place-self: stretch;
  background-color: transparent;
  font-size: 0.8rem;
}

.creatorStyles {
    grid-template-areas:
    "address address"
    "weiPerPeriod weiPerPeriod"
    "duration duration"
    "dates dates";
}
