.circleA {
  --X-contribute: 50vw;
  --Y-contribute: 80vh;
  --size-contribute: 10vh;
}

.circleB {
  --X-contribute: 55vw;
  --Y-contribute: 77vh;
  --size-contribute: 18vh;
}

.circleC {
  --X-contribute: 60vw;
  --Y-contribute: 0vh;
  --width-contribute: 40vw;
  --height-contribute: 13vh;

  --fs-contribute: clamp(10px, 6vw, 30px);
  --outline-offset-contribute: 3px;
  --outline-size-contribute: 5px;
}

.circleA,
.circleB,
.circleC {
  --position-contribute: fixed;
}

@media (min-width: 600px) {
  .circleC {
    --fs-contribute: clamp(10px, 5vw, 190px);
    --outline-offset-contribute: 4px;
    --outline-size-contribute: 10px;
  }
}

@media (max-width: 1279px) and (orientation: landscape) {
  .circleA,
  .circleB {
    --size-contribute: 0;
    --position-contribute: absolute;
  }

  .circleC {
    --Y-contribute: 25vh;
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .circleC {
    --width-contribute: 20vw;
    --height-contribute: 80vw;
    --fs-contribute: 2.5vw;
    --outline-offset-contribute: 4px;
    --outline-size-contribute: 10px;
  }

  .circleA,
  .circleB,
  .circleC {
    --X-contribute: 22vw;
    --Y-contribute: 51vh;
    --size-contribute: 25vh;
  }
}

.circleA,
.circleB,
.circleC {
  position: var(--position-contribute);
  z-index: -1;
  top: var(--Y-contribute);
  left: var(--X-contribute);
  width: var(--size-contribute);
  height: var(--size-contribute);
}

.circleA 
.circleB {
  border-radius: 50%;
}

.circleC {
  width: var(--width-contribute);
  height: var(--height-contribute);

  background-color: var(--secondary-contribute);
  color: var(--darktheme-black-text-contribute);
  border-radius: 0 0 0 32px;
  cursor: pointer;

  font-size: var(--fs-contribute);
  font-weight: bold;

  outline-offset: var(--outline-offset-contribute);
  outline: var(--outline-size-contribute) dotted transparent;

  &:focus {
    outline-color: var(--secondary);
    transition: outline-color 0.2s;
  }
}
