.circleA {
  --X-create: 17vw;
  --Y-create: 80vh;
  --size-create: 10vh;
}

.circleB {
  --X-create: 55vw;
  --Y-create: 77vh;
  --size-create: 18vh;
}

.circleC {
  --Y-create: 0vh;
  --X-create: 60vw;
  --width-create: 40vw;
  --height-create: 13vh;
  --fs-create: clamp(10px, 6vw, 30px);

  --outline-offset-create: 3px;
  --outline-size-create: 5px;
}

.circleA,
.circleB,
.circleC {
  --position-create: fixed;
}

@media (min-width: 600px) {
  .circleB {
    --fs-create: clamp(10px, 5vw, 190px);
    --outline-offset-create: 4px;
    --outline-size-create: 10px;
  }
}

@media (max-width: 1279px) and (orientation: landscape) {
  .circleA .circleB {
    --size-create: 0;
    --position-create: absolute;
  }

  .circleC {
    --height-create: 25vh;
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .circleA {
    --Y-create: 75vh;
    --X-create: 12vw;
    --size-create: 12vh;
  }
  .circleB {
    --Y-create: 51vh;
    --X-create: 22vw;
    --size-create: 25vh;
  }
  .circleC {
    --Y-create: 20vw;
    --X-create: 80vw;
    --fs-create: 2.5vw;
    --outline-offset-create: 4px;
    --outline-size-create: 10px;
  }
}

.circleA,
.circleB,
.circleC {
  position: var(--position-create);
  top: var(--Y-create);
  left: var(--X-create);
  z-index: -1;
}

.circleA {
  width: var(--size-create);
  height: var(--size-create);
  border-radius: 50%;
}

.circleB {
  width: var(--size-create);
  height: var(--size-create);
  border-radius: 50%;

  &:focus {
    outline-color: var(--secondary);
  }
}

.circleC {
  top: var(--Y-create);
  left: var(--X-create);
  width: var(--width-create);
  height: var(--height-create);

  background-color: var(--secondary);
  color: var(--darktheme-black-text);
  border-radius: 0 0 0 32px;
  cursor: pointer;

  font-size: var(--fs-create);
  font-weight: bold;

  outline-offset: var(--outline-offset-create);
  outline: var(--outline-size-create) dotted transparent;

  transition: var(--transition-create);
}
