.circleA {
  --left-login: -5vw;
  --top-login: -5vh;
  --size-login: 112px;
  --width-login: var(--size-login);
  --height-login: var(--size-login);
}

.circleB {
  --left-login: 92vw;
  --top-login: 40vh;
  --size-login: 128px;
  --width-login: var(--size-login);
  --height-login: var(--size-login);
}

.circleC {
  --left-login: 30vw;
  --top-login: 92vh;
  --size-login: 160px;
  --width-login: var(--size-login);
  --height-login: var(--size-login);
}

@media (min-width: 600px) and (orientation: portrait) {
  .circleA {
    --left-login: -2vw;
    --top-login: -2vh;
    --size-login: clamp(224px, 6vw, 650px);
  }

  .circleB {
    --size-login: 200px;
  }

  .circleC {
    --top-login: 82vh;
    --size-login: 440px;
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .circleA {
    --size-login: 240px;
  }

  .circleB {
    --left-login: 50vw;
    --top-login: 85vh;
    --size-login: 300px;
  }

  .circleC {
    --left-login: 80vw;
    --top-login: 3vh;
    --size-login: 490px;
  }
}

.circleA,
.circleB,
.circleC {
  outline: none;
  z-index: -1;

  left: var(--left-login);
  top: var(--top-login);
  width: var(--width-login);
  height: var(--height-login);
}
