footer {
  font-size: var(--font-size-base);

  & > a {
    margin-right: 3vw;
  }
}

@media (min-width: 768px) {
  footer {
    font-size: var(--font-size-md);
  }
}

@media (prefers-color-scheme: dark) {
  footer {
    & > a {
      &:first-child {
        color: yellow;
        &:hover {
          color: yellowgreen;
        }
      }
    }
  }
}
