footer {
  font-size: clamp(1rem, 1vw + 1rem, 10rem);
  z-index: var(--login-page-content-z-index);
  margin: auto 0 22px auto;

  & > a {
    margin-right: 3vw;
    &:first-child {
      color: red;
      &:hover {
        color: orangered;
      }
    }
  }
}

@media (min-width: 390px) {
  footer {
    font-size: clamp(1rem, 1vw + 1rem, 10rem);
  }
}

@media (prefers-color-scheme: dark) {
  footer {
    & > a {
      &:first-child {
        color: yellow;
        &:hover {
          color: yellowgreen;
        }
      }
    }
  }
}
