.loginButton {
  --login-button-fs: clamp(16px, 1.1vw + 16px, 160px);

  font-size: var(--login-button-fs);
  border: 0.145em solid var(--primary);
  background-color: var(--primary);
  color: var(--background-color);
  border-radius: 16px;
  padding-block: 16px;
  width: 14ch;
  cursor: pointer;
  outline: none;

  transition: all 0.3s;

  &:focus-visible {
    transform: rotate(2deg);
  }

  &:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  &:active {
    box-shadow: none;
  }
}

@media (min-width: 390px) {
  .loginButton {
    --login-button-fs: clamp(16px, 2.5vw + 16px, 160px);
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .loginButton {
    --login-button-fs: clamp(16px, 1.3vw + 16px, 160px);
  }
}

@media (prefers-color-scheme: dark) {
  .loginButton {
    background: none;
    color: var(--text);
    border-color: var(--primary);

    &:focus-visible {
      outline: none;
      color: var(--text);
      background-color: var(--primary);
    }

    &:hover {
      color: var(--text);
      background-color: var(--primary);
      box-shadow: none;
    }
  }
}
