.loginButton {
  cursor: pointer;
  font-size: var(--font-size-md);
  font-weight: 800;
  color: white;
  background-color: var(--primary-dark-color);
  border-radius: 16px;
  padding: 1em 2em 1em 2em;
  transition: all 0.3s;
  margin-left: 1em;
}


@media (prefers-color-scheme: dark) {
  .loginButton {
    color: var(--text-color);
    background-color: var(--primary-light-color);

    &:focus-visible {
      color: var(--text-color);
    }

    &:hover {
      color: var(--text-color);
      background-color: var(--primary-dark-color);
    }
  }
}
