.transitioningBorder {
  border-image: linear-gradient(to right, var(--secondary), transparent 80%) 1;
  border-style: solid;
  border-bottom-width: 5px;
  margin-bottom: 15px;
}

// var(--modal-background)
.currencyContainer {
  display: flex;
  border-bottom: 5px solid var(--modal-background);
  padding-bottom: 5px;
  margin-bottom: -5px;
  transition: border-color 0.3s;

  &:hover {
    border-color: transparent;
    transition: border-color 0.3s;
  }

  &:focus-within {
    border-color: transparent;
    transition: border-color 0.3s;
  }
}

.currencyField {
  color: var(--text);
  background-color: transparent;
  outline: none;
  width: 100%;
  font-size: inherit;
  caret-color: var(--text);
  margin-left: 10px;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type="number"] {
    -moz-appearance: textfield;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
