@keyframes loading_animation {
  25% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1px) rotate(1deg);
  }
}

@font-face {
  font-family: Cute;
  src: url(../../assets/Cutesy.woff2);
}

.loading {
  position: fixed;
  top: 0%;
  font-family: cute;
  font-size: 3rem;
  margin: 1.4rem 0 0 1.5rem;
}

.loading span {
  display: inline-block;
  animation: 0.6s linear 0s infinite alternate none running loading_animation;
}
