.eth {
  font-family: aileron;
  font-weight: 200;
  width: 2ch;
}

.balance {
  font-family: aileron;
  font-weight: 400;
  font-size: 3rem;
}

@media (prefers-color-scheme: dark) {
  .balance {
    color: var(--darktheme-white-text);
  }
}
