.eth {
  font-family: aileron;
  font-weight: 200;
  width: 2ch;
  font-size: 2.9rem;
  margin-right: .9rem;
}

.balance {
  font-family: aileron;
  font-weight: 400;
  font-size: 2.9rem;
  width: calc(100vw - 48px);
  overflow-x: scroll;
}

@media (prefers-color-scheme: dark) {
  .balance {
    color: var(--darktheme-white-text);
  }
}
