.balance {
  font-family: aileron;
  font-weight: 400;
  font-size: 2.9em;
  width: 100%;
  overflow-x: scroll;
}

.eth {
  font-size: inherit;
  font-family: aileron;
  font-weight: 200;
  margin-right: 14px;
}

@media (prefers-color-scheme: dark) {
  .balance {
    color: var(--darktheme-white-text);
  }
}
