.circleB {
  position: fixed;
  outline: none;
  border-radius: 50%;

  // these properties are the same no matter what page we're on
  // the duration and the delay is all different though
  transition-property: top, left, width, height, background-color;

  --background-color-login: var(--primary-light-color);
  --background-color-contribute: var(--primary-light-color);
  --background-color-create: var(--primary-light-color);

  --top-login: 40vh;
  --left-login: 92vw;
  --width-login: 128px;
  --height-login: 128px;

  --top-contribute: 78vh;
  --left-contribute: 59vw;
  --width-contribute: 25vw;
  --height-contribute: 25vw;

  --top-create: 82vh;
  --left-create: 16vw;
  --width-create: 15vw;
  --height-create: 15vw;
}

@media (min-width: 600px) and (orientation: portrait) {
  .circleB {
    --width-login: 200px;
    --height-login: 200px;
  }
}

@media (max-width: 1279px) and (orientation: landscape) {
  .circleB {
    position: absolute;
    --width-contribute: 0;
    --height-contribute: 0;
    --width-create: 0;
    --height-create: 0;
  }
}

// Desktop Styles
@media (min-width: 1280px) and (orientation: landscape) {
  .circleB {
    --top-login: 85vh;
    --left-login: 50vw;
    --width-login: 300px;
    --height-login: 300px;

    --top-contribute: 51vh;
    --left-contribute: 20vw;
    --width-contribute: 25vh; --height-contribute: 25vh;

    --top-create: 75vh;
    --left-create: 6vw;
    --width-create: 12vh;
    --height-create: 12vh;
  }
}
