.circleA {
  position: fixed;
  border-radius: 50%;

  --background-color-login: var(--primary-very-light-color);
  --background-color-contribute: var(--primary-color);
  --background-color-create: var(--secondary-color);

  --x-login: -5vw;
  --y-login: -4vh;
  --width-login: 15vh;
  --height-login: 15vh;

  --x-contribute: 16vw;
  --y-contribute: 60vh;
  --width-contribute: 15vw;
  --height-contribute: 15vw;

  --x-create: 60vw;
  --y-create: 56vh;
  --width-create: 25vw;
  --height-create: 25vw;
}

@media (min-width: 600px) and (orientation: portrait) {
  .circleA {
    --x-login: -4vw;
    --y-login: -4vh;
    --width-login: clamp(224px, 8vw, 650px);
    --height-login: clamp(224px, 8vw, 650px);
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .circleA {
    --width-login: 240px;
    --height-login: 240px;

    --x-contribute: 4vw;
    --y-contribute: 55vh;
    --width-contribute: 12vh;
    --height-contribute: 12vh;

    --x-create: 20vw;
    --y-create: 51vh;
    --width-create: 25vh;
    --height-create: 25vh;
  }
}

@media (prefers-color-scheme: dark) {
  .circleA {
    --background-color-login: var(--primary-dark-color);
  }
}
