span {
  font-size: smaller;
}

.grid {
  display: grid;
  grid-template-areas: 
    "pethreon vid"
    "features vid"
    "metamask vid"
  ;
}

.pethreon {
  grid-area: pethreon;
}

.features {
  grid-area: features;
}

.metamask {
  grid-area: metamask;
  display: flex;

}

.login {
  grid-area: login;
}

.vid {
  grid-area: vid;
  aspect-ratio: 256 / 135;
}