.container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  height: 100vh;
}

.pethreon {
  font-size: clamp(3rem, 20vw, 6rem);
  font-weight: 300;
  margin: 2rem 0 2.5rem 1.5rem;
}

.Ξ {
  font-size: smaller;
}

.features {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.5rem;
  margin-left: 2rem;
  margin-bottom: 5rem;
  list-style-type: none;
}

.features li {
  margin-bottom: 1rem;
}

.metamask {
  display: flex;
}

.metamask svg {
  width: 30vw
}

.vid {
  display: none;
  aspect-ratio: 256 / 135;
}
