@font-face {
  src: url(assets/Cutesy.ttf);
  font-family: cute;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* TITLE */
.pethreon {
  font-size: clamp(3rem, 15vw, 6rem);
  font-weight: 300;
  margin: 1rem 0 2.3rem 1.4rem;
}

.Ξ {
  font-size: smaller;
}

/* FEATURES  */
.features {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.9rem;
  list-style-type: none;
  margin: 0 1.5rem 1.5rem 1.5rem;
}

.features li {
  margin-bottom: 1.2rem;
}

.github {
  width: 2ch;
  vertical-align: text-bottom;
}

/* LOGIN */
.metamessage {
  font-family: cute;
  font-size: 2rem;
  font-weight: 400;
  margin: 0 2.5rem 2rem 2.5rem;
  text-align: center;
}

.metamask {
  display: flex;
  justify-content: space-evenly;
}

.metamask svg {
  width: 30vw;
}

.vid {
  display: none;
  aspect-ratio: 256 / 135;
}
