/* Remove the default margin and padding */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
}

/* 16px * 0.625 = 10px */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

:root {
  --primary: hsl(220, 50%, 50%);
  --secondary: hsl(0, 100%, 50%);
  --background: hsl(0, 0%, 47%);
  --text: hsl(0, 0%, 15%);
  --login-button: hsl(220, 50%, 30%);

  /* Dark Theme */
  --darktheme-primary: hsl(220, 50%, 50%);
  --darktheme-secondary: hsl(267, 95%, 76%);
  --darktheme-background: hsl(200, 7%, 8%);
  --darktheme-modal-background: hsl(200, 7%, 18%);
  --darktheme-text: hsl(36, 10%, 90%);
  --darktheme-anchor-tag: hsl(220, 50%, 70%);
  --darktheme-login-button: hsl(36, 10%, 90%);
}
