/* Remove the default margin and padding */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
}

/* 16px * 0.625 = 10px */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

:root {
  --primary: hsl(220, 51%, 50%);
  --primary-lighter: hsl(220, 51%, 79%);
  --primary-darker: hsl(220, 51%, 30%);

  --secondary: hsl(0, 100%, 50%);
  --secondary-lighter: hsl(0, 100%, 79%);
  --secondary-darker: hsl(0, 100%, 30%);

  --darktheme-background: #131516;
  --darktheme-text: #e8e6e3;
}
