/* I want these to be accessible everywhere, therefore I'm not making it a CSS module */
:root {
  --primary: hsl(220, 50%, 50%);
  --secondary: hsl(258, 100%, 35%);
  --background: hsl(0, 0%, 47%);
  --white-text: hsl(36, 10%, 90%);
  --black-text: hsl(0, 0%, 15%);

  /* Dark Theme */
  --darktheme-primary: hsl(220, 50%, 50%);
  --darktheme-secondary: hsl(267, 95%, 76%);
  --darktheme-background: hsl(200, 7%, 8%);
  --darktheme-modal-background: hsl(200, 7%, 18%);
  --darktheme-white-text: hsl(36, 10%, 90%);
  --darktheme-black-text: hsl(0, 0%, 15%);
  --darktheme-anchor-tag: hsl(220, 50%, 70%);
}

/* Remove the default margin and padding */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
}

@font-face {
  font-family: aileron;
  src: url(./assets/Aileron-Regular.woff2);
}

@font-face {
  font-family: aileron;
  src: url(./assets/Aileron-Light.woff2);
  font-weight: 300;
}

@font-face {
  font-family: aileron;
  src: url(./assets/Aileron-UltraLight.woff2);
  font-weight: 200;
}

/* 16px * 0.625 = 10px */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  color: var(--black-text);
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--white-text);
  }
}
