// I want this file to be accessible everywhere, so I'm not making it a CSS module

@font-face {
  font-family: Cutesy;
  src: url(./assets/Cutesy.woff2) format("woff2");
}

@font-face {
  font-family: aileron;
  src: url(./assets/Aileron-UltraLight.woff2) format("woff2");
  font-weight: 200;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
}

:root {
  --primary-very-very-light-color: hsl(215, 50%, 90%);
  --primary-very-light-color: hsl(215, 50%, 80%);
  --primary-light-color: hsl(215, 50%, 75%);
  --primary-color: hsl(215, 50%, 70%);
  --primary-dark-color: hsl(215, 50%, 60%);
  --primary-very-dark-color: hsl(215, 50%, 50%);
  --primary-very-very-dark-color: hsl(215, 50%, 40%);

  --secondary-very-very-light-color: hsl(328, 41%, 94%);
  --secondary-very-light-color: hsl(328, 41%, 90%);
  --secondary-light-color: hsl(328, 41%, 80%);
  --secondary-color: hsl(328, 41%, 70%);
  --secondary-dark-color: hsl(328, 41%, 65%);
  --secondary-very-dark-color: hsl(328, 41%, 60%);
  --secondary-very-very-dark-color: hsl(328, 41%, 50%);
  --secondary-very-very-very-dark-color: hsl(328, 41%, 40%);

  --background-color: hsl(0, 0%, 100%);

  --text-white-color: hsl(36, 10%, 90%);
  --text-black-color: #141823;
  --text-color: var(--text-black-color);

  --modal-backdrop-color: hsla(0, 0%, 0%, 0.882);
  --modal-background-color: #e3e0e0;

  // https://www.fluid-type-scale.com/calculate?minFontSize=20&minWidth=400&minRatio=1.25&maxFontSize=30&maxWidth=1920&maxRatio=1.333&steps=sm%2Cbase%2Cmd%2Clg%2Cxl%2Cxxl%2Cxxxl&baseStep=base&prefix=font-size&decimals=2&previewFont=Inter
  --font-size-sm: clamp(16px, 0.43vw + 14.29px, 22.51px);
  --font-size-base: clamp(20px, 0.66vw + 17.37px, 30px);
  --font-size-md: clamp(25px, 0.99vw + 21.06px, 39.99px);
  --font-size-lg: clamp(31.25px, 1.45vw + 25.45px, 53.31px);
  --font-size-xl: clamp(39.06px, 2.1vw + 30.64px, 71.06px);
  --font-size-xxl: clamp(48.83px, 3.02vw + 36.75px, 94.72px);
  --font-size-xxxl: clamp(61.04px, 4.29vw + 43.87px, 126.26px);

  font-family: Arial, Helvetica, sans-serif;

  color-scheme: light dark;
  background-color: var(--background-color);
  color: var(--text-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-very-very-very-light-color: hsl(216, 49%, 70%);
    --primary-very-very-light-color: hsl(216, 49%, 60%);
    --primary-very-light-color: hsl(216, 49%, 50%);
    --primary-light-color: hsl(216, 49%, 40%);
    --primary-color: hsla(216, 49%, 30%);
    --primary-dark-color: hsl(216, 49%, 20%);

    --secondary-very-very-light-color: hsl(275, 95%, 90%);
    --secondary-very-light-color: hsl(275, 95%, 85%);
    --secondary-light-color: hsl(275, 95%, 80%);
    --secondary-color: hsl(275, 95%, 70%);
    --secondary-dark-color: hsl(275, 95%, 60%);
    --secondary-very-dark-color: hsl(275, 95%, 55%);
    --secondary-very-very-dark-color: hsl(275, 95%, 45%);

    --background-color: hsl(200, 7%, 8%);
    --modal-background-color: hsl(200, 7%, 18%);

    --text-color: var(--text-white-color);
  }
}
