// I want this stuff to be accessible everywhere, therefore I'm not making it a CSS module

@font-face {
  font-family: Cutesy;
  src: url(./assets/fonts/Cutesy.woff2) format("woff2");
}

@font-face {
  font-family: aileron;
  src: url(./assets/fonts/Aileron-UltraLight.woff2) format("woff2");
  font-weight: 200;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
}

.circle {
  position: fixed;
  outline: none;
  border-radius: 50%;
}

:root {
  --primary-very-light-color: hsl(215, 50%, 90%);
  --primary-light-color: hsl(215, 50%, 80%);
  --primary-color: hsl(215, 50%, 70%);
  --primary-dark-color: hsl(215, 50%, 60%);
  --primary-very-dark-color: hsl(215, 50%, 50%);
  --primary-very-very-dark-color: hsl(215, 50%, 40%);

  --secondary-very-light-color: hsl(328, 41%, 90%);
  --secondary-light-color: hsl(328, 41%, 80%);
  --secondary-color: hsl(328, 41%, 70%);
  --secondary-dark-color: hsl(328, 41%, 60%);
  --secondary-very-dark-color: hsl(328, 41%, 50%);
  --secondary-very-very-dark-color: hsl(328, 41%, 40%);

  --background-color: hsl(0, 0%, 100%);

  --text-white-color: hsl(36, 10%, 90%);
  --text-black-color: #141823;
  --text-color: var(--text-black-color);

  --modal-backdrop-color: hsla(0, 0%, 0%, 0.882);
  --modal-background-color: hsl(200, 7%, 18%);
  --text-color-hover-duration: 0.3s;

  font-family: Arial, Helvetica, sans-serif;

  color-scheme: light dark;
  background-color: var(--background-color);
  color: var(--text-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: hsla(216, 49%, 29%, 1);
    --primary-light-color: hsl(216, 49%, 54%);
    --primary-dark-color: hsl(216, 49%, 20%);

    --secondary-color: hsl(267, 95%, 76%);
    --secondary-light-color: hsl(267, 95%, 80%);
    --secondary-dark-color: hsl(260, 95%, 70%);

    --anchor-tag-color: hsl(220, 50%, 70%);
    --background-color: hsl(200, 7%, 8%);
    --modal-background-color: hsl(200, 7%, 18%);
    --text-color: var(--text-white-color);
    --login-button-color: hsl(36, 10%, 90%);
    --action-button-color: hsl(200, 7%, 5%);
  }
}
