:root {
  // minus 16px because that's how much margin they included on the web3 account center
  --account-center-position-left: clamp(30px - 16px, 4vw - 16px, 64px - 16px);

  // make it further down from the top
  --account-center-position-top: 6px;
}

@media (min-width: 700px) {
  :root {
    --account-center-position-top: 2vh;
    --account-center-position-left: calc(2vw - 16px);
  }
}
