.address {
  font-size: 1.5rem;
  margin-left: 1.5rem;
  position: relative;
}

.address p {
  font-size: normal;
}

.address button {
  background: transparent;
  color: var(--darktheme-text);
  text-overflow: ellipsis;
  outline: none;
  overflow: hidden;
  width: 11ch;
}

@media (prefers-color-scheme: dark) {
  .address {
    border-color: var(--darktheme-text);
    color: var(--darktheme-text);
  }
}
