.button {
  cursor: pointer;
  color: var(--text);
  background-color: var(--secondary);
  font-size: 1rem;
  font-weight: bolder;
  border-radius: 30px;
  padding: 10px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  outline: 5px;
  transition: all .2s;
  outline: 5px dotted transparent;
  outline-offset: 6px;
}

.button:focus {
  outline-color: var(--primary);
}
.button:active {
  outline: none;
}

.button:disabled {
  cursor: not-allowed;
  background-color: grey;
}

@media (prefers-color-scheme: dark) {
  .button {
    color: var(--darktheme-black-text);
    background-color: var(--darktheme-secondary);
  }

  .button:focus {
    outline-color: var(--darktheme-secondary);
  }
}
