.container {
  display: flex;
  margin-bottom: 20px;
  font-size: var(--font-size-sm);
}

.label {
  display: flex;
  position: relative;
  align-content: center;
  cursor: pointer;
  // font-size: inherit; 
  color: var(--text-color);
  margin-right: 0.3rem;
}

.input {
  position: absolute;
  left: -9999px; // make it disappear so I can create my own radio button
  outline: none;

  &:not(:checked):hover {
    & + .span {
      background-color: var(--primary-color);
    }
  }

  &:checked {
    &:hover + .span {
      background-color: var(--primary-light-color);
    }

    & + .span {
      background-color: var(--primary-color); // background for the whole radio button
    }
  }

  &:focus-visible + .span {
    transform: translateY(-0.05em);
    box-shadow: 0 0.2em 0 0 var(--secondary-color);
  }
}

.span {
  user-select: none;
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  font-weight: bolder;
  transition: box-shadow 0.3s, background-color 0.3s, transform 0.3s;
}
