.circleA_contribute {
  position: fixed;
  top: 70vh;
  left: 13vw;
  width: 30vw;
  height: 30vw;
  background-color: var(--main-blue-lighter);
  border-radius: 50%;

  transition: all 0.5s linear;
}

/* BUTTON */
.circleB_contribute {
  position: fixed;
  top: 0vh;
  left: 60vw;
  width: 40vw;
  
  height: 6rem;
  background-color: var(--main-red-lighter);
  border-radius: 0 0 0 25%;
  cursor: pointer;

  transition: all 0.5s linear;
}

.circleC_contribute {
  position: fixed;
  top: 78vh;
  left: 55vw;
  width: 30vw;
  height: 30vw;
  background-color: var(--main-blue-lighter);
  border-radius: 50%;

  transition: all 0.5s linear;
}