@keyframes contributeA_animation {
  to {
    transform: scale(115%) translate(20px, -20px);
  }
}

@keyframes contributeC_animation {
  to {
    transform: scale(80%) translate(-20px, 10px);
  }
}

.circleA_contribute {
  position: fixed;
  top: 70vh;
  left: 13vw;
  width: 30vw;
  height: 30vw;
  background-color: var(--primary-lighter);
  border-radius: 50%;

  animation: 5s linear 0s infinite alternate none running contributeA_animation;
  transition: all 0.5s linear;
}

/* BUTTON */
.circleB_contribute {
  position: fixed;
  top: 0vh;
  left: 60vw;
  width: 40vw;

  height: 6rem;
  background-color: var(--secondary-lighter);
  border-radius: 0 0 0 25%;
  cursor: pointer;

  transition: all 0.5s linear;
}

.circleC_contribute {
  position: fixed;
  top: 78vh;
  left: 55vw;
  width: 30vw;
  height: 30vw;
  background-color: var(--primary-lighter);
  border-radius: 50%;

  animation: 5s linear 0s infinite alternate none running contributeC_animation;
  transition: all 0.5s linear;
}

@media (prefers-color-scheme: dark) {
  .circleA_contribute {
    background-color: var(--primary);
  }

  .circleB_contribute {
    border-color: var(--secondary);
  }

  .circleC_contribute {
    background-color: var(--primary);
  }
}
