@keyframes createA_animation {
  to {
    transform: scale(115%) translate(20px, -20px);
  }
}

@keyframes createC_animation {
  to {
    transform: scale(80%) translate(-20px, 10px);
  }
}

.circleA_create {
  position: fixed;
  top: 78vh;
  left: 55vw;
  width: 30vw;
  height: 30vw;
  background-color: var(--secondary-lighter);
  border-radius: 50%;

  animation: 5s linear 0s infinite alternate none running createA_animation;
  transition: all 0.5s linear;
}

.circleB_create {
  position: fixed;
  top: 1vh;
  left: 70vw;
  width: 8rem;
  height: 8rem;
  background-color: var(--primary-lighter);
  border-radius: 50%;
  cursor: pointer;

  transition: all 0.5s linear;
}

.circleC_create {
  position: fixed;
  top: 70vh;
  left: 13vw;
  width: 30vw;
  height: 30vw;
  background-color: var(--secondary-lighter);
  border-radius: 50%;

  animation: 5s linear 0s infinite alternate none running createC_animation;
  transition: all 0.5s linear;
}

@media (prefers-color-scheme: dark) {
  .circleA_contribute {
    background-color: var(--primary);
  }

  .circleB_contribute {
    border-color: var(--secondary);
  }

  .circleC_contribute {
    background-color: var(--primary);
  }
}
