.actionBar {
  display: flex;
  justify-content: space-evenly;
  margin-top: 16px;
}

.createLayout {
  display: flex;
  height: 70%;
  flex-direction: column;
  align-content: space-around;
  margin: 15vh 24px 0 24px;
  height: 60vh;
}

.transactionHistory {
  overflow: auto;
  list-style: none;
  margin-top: 1.7rem;
  height: 30vh;
}