.nav {
  --nav-color: var(--primary-color);

  &:hover {
    --nav-color: var(--primary-dark-color);
  }
}

.layout {
  min-height: 60vh;
  margin-top: 15vh;
  margin-inline: clamp(23px, 9vw, 80px);
}

.actions {
  display: flex;
  justify-content: center;
}

.pledges {
  border-color: var(--secondary-very-light-color);
}

@media (max-width: 1280px) and (orientation: landscape) {
  .layout {
    min-height: auto;
    margin-top: 35vh;
  }
}

@media (min-width: 600px) {
  .layout {
    margin-inline: clamp(3rem, 9vw, 9rem);
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .layout {
    display: grid;
    grid:
      [Account-row-start] "balance balance" [Action-row-end]
      [Account-row-start] ". actions" [Action-row-end]
      [Balance-row-start] ". pledges" [Balance-row-end]
      [Pledge-row-start] ". pledges" [Pledge-row-end];

    grid-gap: 10px;

    min-height: 85vh;
    margin-top: 15vh;
    margin-inline: 0;
  }

  .balance {
    grid-area: balance;
    align-self: end;
    margin-left: clamp(30px, 4vw, 64px);
    font-size: clamp(24px, 3vw + 16px, 144px);
  }

  .actions {
    grid-area: actions;
    place-self: end center;
  }

  .pledges {
    grid-area: pledges;
    place-self: start center;
  }
}
