.circleB {
  position: fixed;
  outline: none;
  z-index: -1;
  border-radius: 50%;
  background-color: var(--primary);
  transition-property: top, left, width, height, background-color;

  --top-login: 40vh;
  --left-login: 92vw;
  --size-login: 128px;
  --width-login: var(--size-login);
  --height-login: var(--size-login);

  --top-contribute: 77vh;
  --left-contribute: 62vw;
  --size-contribute: 15vh;
  --width-contribute: var(--size-contribute);
  --height-contribute: var(--size-contribute);

  --top-create: 80vh;
  --left-create: 20vw;
  --size-create: 10vh;
  --width-create: var(--size-create);
  --height-create: var(--size-create);
}

@media (max-width: 600px) and (orientation: portrait) {
  .circleB {
    --top-contribute: 77vh;
    --left-contribute: 56vw;

    --top-create: 77vh;
    --left-create: 56vw;
  }
}

@media (min-width: 600px) and (orientation: portrait) {
  .circleB {
    --size-login: 200px;
  }
}

@media (max-width: 1279px) and (orientation: landscape) {
  .circleB {
    --size-contribute: 0;
    --size-create: 0;
    position: absolute;
  }
}

// Desktop Styles
@media (min-width: 1280px) and (orientation: landscape) {
  .circleB {
    --top-login: 85vh;
    --left-login: 50vw;
    --size-login: 300px;

    --top-contribute: 51vh;
    --left-contribute: 20vw;
    --size-contribute: 25vh;

    --top-create: 75vh;
    --left-create: 6vw;
    --size-create: 12vh;
  }
}
