.pledgeBox,
.emptyPledgeBox {
  --fs-empty-pledge-text: clamp(0.5rem, 10vw, 5rem);
  --pledge-box-height: 30vh;
  --pledge-box-margin-top: 3vh;

  overflow: auto;
  list-style: none;
  width: var(--pledge-box-width);
  height: var(--pledge-box-height);
  margin-top: var(--pledge-box-margin-top);
}

.emptyPledgeBox {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  border: 0.3em solid var(--primary-light);
  border-radius: 2em;
}

.emptyPledgeText {
  font-family: Cutesy;
  font-size: var(--fs-empty-pledge-text);
  width: 15ch;
}

// When the user rotates the screen
@media (max-width: 1280px) and (orientation: landscape) {
  .pledgeBox,
  .emptyPledgeBox {
    --pledge-box-height: 90vh;
    --pledge-box-margin-top: 8vh;
  }
}

@media (min-width: 600px) {
  .pledgeBox,
  .emptyPledgeBox {
    --contribute-layout-margin-inline: clamp(3rem, 9vw, 9rem);
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .pledgeBox,
  .emptyPledgeBox {
    --fs-empty-pledge-text: clamp(0.5rem, 4vw, 5rem);
    --pledge-box-height: 40vh;
    --pledge-box-width: 50vw;
  }
}
