.form {
  display: grid;
  grid:
    "heading"
    "deposit"
    "denomination"
    "disclaimer"
    "consent"
    "submit";
  height: auto;
  width: 65vw;
}

.heading {
  grid-area: heading;
  font-size: 1rem;
  margin-bottom: 12px;
}

.depositAmount {
  grid-area: deposit;
  font-size: 1rem;
}

.etherButtons {
  grid-area: denomination;
  font-size: 10px;
}

.disclaimer {
  grid-area: disclaimer;
  font-size: 12px;
  margin-bottom: 12px;
}

.consent {
  grid-area: consent;
  font-size: 12px;
}

.submit {
  grid-area: submit;
}

.depositSVG {
  width: 2ch;
  vertical-align: text-bottom;
  font-weight: 600;
}
