.depositFormLayout {
  --layout-width: 65vw;

  display: flex;
  flex-direction: column;
  height: auto;
  width: var(--layout-width);
}

.subsectionDetails {
  --flex-direction: column;
  display: flex;
  flex-direction: var(--flex-direction);
}

.depositHeading {
  font-size: 1rem;
  margin: 0.5rem 0 0.8rem 0;
}

.depositSVG {
  width: 2ch;
  vertical-align: text-bottom;
  font-weight: 600;
}

@media only screen and (min-width: 700px) {
  .subsectionDetails {
    --flex-direction: row;
  }
}
