.circleA {
  position: fixed;
  outline: none;
  border-radius: 50%;

  // these properties are the same no matter what page we're on
  // the duration and the delay is all different though
  transition-property: top, left, width, height, background-color;

  --top-login: -5vh;
  --left-login: -5vw;
  --width-login: 15vh;
  --height-login: 15vh;

  --top-contribute: 82vh;
  --left-contribute: 16vw;
  --width-contribute: 15vw;
  --height-contribute: 15vw;

  --top-create: 78vh;
  --left-create: 59vw;
  --width-create: 25vw;
  --height-create: 25vw;
}

@media (min-width: 600px) and (orientation: portrait) {
  .circleA {
    --top-login: -4vh;
    --left-login: -4vw;
    --width-login: clamp(224px, 7vw, 650px);
    --height-login: clamp(224px, 7vw, 650px);
  }
}

@media (max-width: 1279px) and (orientation: landscape) {
  .circleA {
    position: absolute;
    --width-contribute: 0;
    --height-contribute: 0;
    --width-create: 0;
    --height-create: 0;
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .circleA {
    --width-login: 240px;
    --height-login: 240px;

    --top-contribute: 75vh;
    --left-contribute: 6vw;
    --width-contribute: 12vh;
    --height-contribute: 12vh;

    --top-create: 51vh;
    --left-create: 20vw;
    --width-create: 25vh;
    --height-create: 25vh;
  }
}
