.actionBar {
  display: flex;
  justify-content: center;
  align-content: space-evenly;
  margin-top: 0.9rem;
}

.deposit,
.withdraw,
.pledge {
  padding: 0.7rem;
  background-color: var(--primary);
  outline: none;
  font-size: 1rem;
  font-weight: 600;
}

.deposit:focus,
.withdraw:focus,
.pledge:focus {
  outline-offset: 3px;
  outline: 3px dotted var(--primary);
}

.deposit:active,
.withdraw:active,
.pledge:active {
  outline: none;
}

.withdraw {
  border-right: 2px solid var(--white-text);
  border-left: 2px solid var(--white-text);
}

.actionSVG {
  width: 2ch;
  vertical-align: text-bottom;
}

@media (prefers-color-scheme: dark) {
  .withdraw {
    border-color: var(--darktheme-black-text);
  }

  .deposit,
  .withdraw,
  .pledge {
    background-color: var(--darktheme-secondary);
  }

  .deposit:focus,
  .withdraw:focus,
  .pledge:focus {
    outline: 3px dotted var(--darktheme-secondary);
  }
}
