.button {
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--secondary-color);
  border-radius: 30px;
  transition: box-shadow 0.2s, background-color 0.2s, transform 0.2s;
  outline-color: transparent;
  margin-inline: auto;

  // Only apply this style if it's enabled
  &:hover:enabled {
    background-color: var(--secondary-dark-color);
  }

  &:focus:enabled {
    transform: translateY(-0.06em);
    box-shadow: 0 0.2em 0 0 var(--primary-color);
  }

  &:active:enabled {
    transform: translateY(0em);
    box-shadow: unset;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: grey;
  }
}

.button svg {
  width: 1.2em;
  vertical-align: bottom;
}
