.button {
  font-weight: 800;
  cursor: pointer;
  color: var(--text-white-color);
  background-color: var(--primary-very-dark-color);
  border-radius: 10px;
  margin-inline: auto;
  padding: 1em;
  transition: box-shadow 0.2s, background-color 0.2s, transform 0.2s;
  outline-offset: 5px;

  // only apply this hover style if it's enabled
  &:hover:enabled {
    background-color: var(--primary-very-very-dark-color);
  }

  &:active:enabled {
    transform: translateY(0em);
    box-shadow: unset;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: grey;
  }
}

.button svg {
  width: 1.2em;
  vertical-align: bottom;
}

@media (prefers-color-scheme: dark) {
  .button {
    color: var(--text-color);
    background-color: var(--primary-light-color);

    &:hover:enabled {
      background-color: var(--primary-color);
    }
  }
}
