.userBalance {
  font-family: aileron;
  font-size: inherit;
  color: var(--text); // comes from root index.scss
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;

  font-size: clamp(2rem, 8vw + 1rem, 5rem);
}

.eth {
  font-family: aileron;
  font-size: inherit;
  font-weight: 200;
  margin-right: 14px;
  user-select: none;
}
