.actionBar {
  --fs: clamp(0.5rem, 4.5vw, 3rem);

  --action-bar-margin-top: 2vh;
  --action-bar-margin-bottom: 0;

  --action-button-outline-offset: 4px;
  --action-button-outline-size: 5px;

  display: flex;
  justify-content: center;
  width: var(--action-bar-width);
  margin-top: var(--action-bar-margin-top);
  margin-bottom: var(--action-bar-margin-bottom);
}

@media (min-width: 600px) {
  .actionBar {
    --action-button-outline-offset: 4px;
    --action-button-outline-size: 10px;
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .actionBar {
    grid-area: actionBar;
    place-self: end center;
    justify-content: space-evenly;

    --fs: clamp(0.5rem, 2vw, 2rem);

    --action-bar-button-width: unset;
    --action-bar-width: 55vw;
    --action-bar-margin-top: 0;
    --action-bar-margin-bottom: 8px;

    --action-button-outline-offset: 4px;
    --action-button-outline-size: 10px;
  }
}