.contributeLayout {
  min-height: 60vh;
  margin-top: 15vh;
  padding-top: 2vh;
  margin-inline: clamp(23px, 9vw, 80px);
}

.nav {
  --nav-color: var(--secondary-color);
  &:hover {
    --nav-color: var(--secondary-dark-color);
  }
}

@media (min-width: 1025px) and (orientation: landscape) {
  .contributeLayout {
    display: grid;
    grid:
      [Account-row-start] "userBalance userBalance" [Action-row-end]
      [Account-row-start] "userBalance actionBar" [Action-row-end]
      [Balance-row-start] ". pledgeList" [Balance-row-end]
      [Pledge-row-start] ". pledgeList" [Pledge-row-end];

    grid-gap: 10px;

    // might have to be height
    min-height: 85vh;
    margin-inline: 0;
  }

  .userBalance {
    grid-area: userBalance;
    align-self: end;
    margin-left: clamp(30px, 4vw, 64px);
    font-size: clamp(24px, 3vw + 16px, 144px);
  }

  .userAddress {
    grid-area: userAddress;
    display: block;
    place-self: center start;
    margin-left: clamp(30px, 4vw, 64px);
    font-size: clamp(0.2rem, 0.4vw + 1rem, 5rem);
  }

  .actionBar {
    grid-area: actionBar;
    place-self: end center;
    width: 55vw;
    margin-top: 0;
    margin-bottom: 8px;
  }

  .pledgeList {
    grid-area: pledgeList;
    place-self: start center;

    min-height: 40vh;
    width: 50vw;
  }
}
