.contributeLayout {
  display: flex;
  height: 70%;
  flex-direction: column;
  align-content: space-around;
  margin: 15vh 24px 0 24px;
  height: 60vh
}

.pledgeButton {
  align-self: flex-end;
  margin-right: 1rem;
  padding: 0.5rem 0.5rem;
  background-color: var(--darktheme-secondary);
}
