.actionBar {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  margin-bottom: 0;
}

@media (min-width: 1280px) and (orientation: landscape) {
  .actionBar {
    width: 55vw;
    margin-top: 0;
    margin-bottom: 8px;
  }
}
