.heading {
  font-size: var(--font-size-base);
  margin-bottom: 0.7em;
}


.disclaimer {
  display: flex;
  
  &__checkbox {
    cursor: pointer;
    font-size: var(--font-size-sm);
    vertical-align: center;
    height: 20px;
    width: 20px;
  }

  &__label {
    font-size: var(--font-size-sm);
    margin-left: 0.9em;
    margin-bottom: 1.4em;
  }

  &__button {
    cursor: pointer;
    font-size: var(--font-size-sm);
    background-color: transparent;
    padding: 0;
    margin: 0;
    outline-offset: 5px;
    color: var(--primary-very-light-color);
    border-bottom: 3px solid var(--primary-very-light-color);

    &:hover {
      border-color: transparent;
    }
  }
}

.submit {
  display: block;
  font-size: var(--font-size-base);
}
