.heading {
  font-size: var(--font-size-md);
  color: var(--text-color);
  margin-bottom: 0.7em;
}

.disclaimer {
  display: flex;
  align-items: center;
  margin-bottom: 1.4em;

  &__checkbox {
    cursor: pointer;
    vertical-align: center;
    height: 40px;
    width: 40px;
  }

  &__label {
    font-size: var(--font-size-base);
    margin-left: 0.9em;
    line-height: 1.5;
  }

  &__button {
    cursor: pointer;
    font-size: var(--font-size-base);
    background-color: transparent;
    padding: 0;
    margin: 0;
    outline-offset: 5px;
    color: var(--secondary-very-very-dark-color);

    &:hover {
      border-color: transparent;
    }
  }
}

.submit {
  display: block;
  font-size: var(--font-size-base);
}

@media (prefers-color-scheme: dark) {
  .disclaimer {
    &__button {
      color: yellow;
    }
  }
}
