.currencyContainer {
  position: relative;
  display: flex;
  padding-bottom: 5px;
  border-width: 0 0 5px 0;
  border-style: solid;
  border-image: linear-gradient(to right, var(--secondary), transparent 80%) 1;
  margin-bottom: 12px;

  &:after {
    position: absolute;
    content: "_______________________________________________________________"; /* ___L_O_L */
    overflow: hidden;
    pointer-events: none;
    font-size: 100px;
    width: 65vw;
    top: -57px;
    left: -1px;
    color: var(--modal-background);
    transition: opacity 0.3s;
  }

  &:focus-within::after {
    opacity: 0;
  }
}

.currencyField {
  color: var(--text);
  background-color: transparent;
  outline: none;
  width: 100%;
  font-size: inherit;
  caret-color: var(--text);
  margin-left: 10px;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type="number"] {
    -moz-appearance: textfield;
  }
}
