.currencyContainer {
  display: flex;
  position: relative;
  border-image: none;
  border-bottom: 5px red solid;
  border-width: 0 0 5px 0;
  border-style: solid;
  padding-bottom: 5px;
  margin-bottom: 12px;
}

.currencyContainer:hover {
  // border-bottom: 5px var(--modal-background) solid;
  border-image: linear-gradient(to right, var(--secondary), transparent 80%) 1;
}

.currencyField {
  color: var(--text);
  background-color: transparent;
  outline: none;
  width: 100%;
  font-size: inherit;
  caret-color: var(--text);
  margin-left: 10px;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type="number"] {
    -moz-appearance: textfield;
  }
}
